%%

In [1]:
import os, re
import pandas as pd
import glob as glob
from tqdm import tqdm
from tabula.io import read_pdf
import pdfplumber

%%

In [2]:
os.chdir(r'C:\Users\clutz\THE HUNT INSTITUTE\The Hunt Institute Team Site - Documents\Development (formerly Grants Management)\!Administrative\Christian\State Trends Data\nieer')
files = glob.glob("*")
# %%

In [13]:
def flatten(xss):
    return [x for xs in xss for x in xs]

Open the PDF and extract tables from page 16

In [50]:
tables = {}
with pdfplumber.open(files[0]) as pdf:
    pages = pdf.pages  # Page 16 (0-indexed)
    # im = page.to_image(resolution=150)
    # im.debug_tablefinder({"horizontal_strategy": "text"})
    # im.show()
    # table_settings = {"horizontal_strategy": "text"}
    for page in tqdm(pages):
        if page.page_number > 50:
            break
        table=page.extract_tables()
    # text = page.extract_text()
    # print(text)
        text = page.search(r'(Table \d+\:)', case=False, regex=True)
        
        if not text:
            continue
            
        else:
            text_k = text[0].get('text')
            print(page)


        flat_list = flatten(table)
        lists = []
        for f in flat_list:
        # columns = ['state', '4_yo_access', '3_yo_access', 'rank_state_spending', 'rank_all_spending', 'qual']
            df = pd.DataFrame(flat_list)
        # df.columns = columns
            # print(df)
            lists.append(df)

        # table_ext = pd.concat(lists)

        tables[text_k] = df
        # print(table_v2)
        # new_table = pd.DataFrame(table[0::])

  4%|▎         | 16/427 [00:01<00:42,  9.74it/s]

<Page:16>

  5%|▌         | 22/427 [00:02<01:03,  6.34it/s]

<Page:21>

  6%|▌         | 24/427 [00:03<01:31,  4.42it/s]

<Page:24>

  6%|▌         | 25/427 [00:03<01:40,  4.02it/s]

<Page:25>
<Page:26>

  6%|▋         | 27/427 [00:03<01:39,  4.03it/s]

<Page:27>

 12%|█▏        | 50/427 [00:18<02:15,  2.78it/s]

In [51]:
for k,v in tables.items():
    print(k)
    print(v)

TABLE 1:
                       0           1            2           3           4  \
0                Alabama          15  None Served          15          13
1                Arizona          43           24          26          34
2             California          16           15           4           4
3            Connecticut          32           10           7          12
4   District of Columbia           1            1           1           1
5                Georgia           9  None Served          25          33
6               Illinois          19            3          27          26
7                 Kansas          12            5          35          40
8              Louisiana          23           34          22          32
9               Maryland          17           19          18           8
10              Michigan          18  None Served           6           7
11           Mississippi          35  None Served          41          22
12              Nebraska          20            7          44           9
13            New Jersey          21            4           2           2
14              New York           8            9          21          31
15          North Dakota          42  None Served          32          37
16              Oklahoma           3           21          31          11
17         Pennsylvania†          26           11          11          24
18        South Carolina          14           33          37          41
19                 Texas          10           14          34          39
20               Vermont           6            2          13          17
21            Washington          33           17           5           6
22             Wisconsin           7           35          38          27
23               Indiana  No program   No program  No program  No program
24         New Hampshire  No program   No program  No program  No program
25               Wyoming  No program   No program  No program  No program

             5
0           10
1            3
2          4.4
3          5.1
4            4
5           8*
6            8
7            6
8          7.9
9            8
10         10*
11          10
12           7
13           9
14          7*
15           5
16           9
17        6.7*
18           7
19           4
20           7
21         8.3
22           2
23  No program
24  No program
25  No program
TABLE 2:
             0                     1     2     3     4  \
0         None                  None  None  None  None
1            1  District of Columbia   88%   79%   84%
2         None                  None  None  None  None
3            3              Oklahoma   67%    6%   37%
4         None                  None  None  None  None
5            5                 Iowa*   67%    6%   37%
6         None                  None  None  None  None
7            7             Wisconsin   63%  0.1%   32%
8         None                  None  None  None  None
9            9               Georgia   56%    0%   28%
10        None                  None  None  None  None
11          11                 Maine   47%    0%   23%
12        None                  None  None  None  None
13          13            New Mexico   45%   11%   28%
14        None                  None  None  None  None
15          15               Alabama   39%    0%   20%
16        None                  None  None  None  None
17          17              Maryland   37%    7%   22%
18        None                  None  None  None  None
19          19              Illinois   34%   23%   29%
20        None                  None  None  None  None
21          21          New Jersey *   33%   22%   28%
22        None                  None  None  None  None
23          23           Louisiana *   32%  0.3%   16%
24        None                  None  None  None  None
25          25              Kentucky   27%    7%   18%
26        None                  None  None  None  None
27          27              Colorado   24%    8%   16%
28        None                  None  None  None  None
29          29        North Carolina   21%    0%   11%
30        None                  None  None  None  None
31          31             Tennessee   20%    1%   11%
32        None                  None  None  None  None
33          33           Washington*   16%    8%   12%
34        None                  None  None  None  None
35          35           Mississippi   15%    0%    8%
36        None                  None  None  None  None
37          37            Minnesota*   11%    1%    6%
38        None                  None  None  None  None
39          39              Missouri    7%    1%    4%
40        None                  None  None  None  None
41          41              Delaware    6%    2%    4%
42        None                  None  None  None  None
43          43               Arizona    4%    3%    3%
44        None                  None  None  None  None
45          45                  Utah    3%    1%    2%
46        None                  None  None  None  None
47  No program               Indiana    0%    0%    0%
48        None                  None  None  None  None
49  No program         New Hampshire    0%    0%    0%
50        None                  None  None  None  None
51  No program               Wyoming    0%    0%    0%
52        None                  None  None  None  None
53                              Guam    2%    0%    1%

                                                    5       6       7
0   NUMBER OF CHILDREN ENROLLED IN\nSTATE PREKINDE...    None    None
1                                               6,821   5,929  12,750
2                                   154,024 0 154,024    None    None
3                                              33,881   2,910  36,791
4                                 12,069 1,178 13,247    None    None
5                                              25,702   2,149  27,851
6                                   3,707 4,011 7,718    None    None
7                                              41,029      42  41,071
8                              122,624 32,888 155,512    None    None
9                                              73,462       0  73,462
10                             202,520 40,455 242,975    None    None
11                                              5,940       0   5,940
12                                16,331 7,631 23,962    None    None
13                                             10,446   2,444  12,890
14                                  26,038 191 26,229    None    None
15                                             23,388       0  23,388
16                             166,452 38,281 204,733    None    None
17                                             26,637   4,924  31,561
18                                    38,140 0 38,140    None    None
19                                             48,500  32,504  81,004
20                                 8,623 4,023 12,646    None    None
21                                             35,376  23,011  58,387
22                                11,941 6,392 18,333    None    None
23                                             18,302     155  18,457
24                               19,903 10,731 30,634    None    None
25                                             14,849   3,941  18,790
26                               34,141 16,958 51,098    None    None
27                                             15,339   4,945  20,284
28                                      2,364 0 2,364    None    None
29                                             25,684       0  25,684
30                                21,388 2,763 24,151    None    None
31                                             16,739   1,098  17,837
32                                 7,016 4,659 11,675    None    None
33                                             13,990   6,906  20,896
34                                 6,678 4,857 11,535    None    None
35                                              5,329       0   5,329
36                                15,276 2,724 18,000    None    None
37                                              7,383     416   7,799
38                                      890 150 1,040    None    None
39                                              5,356     920   6,276
40                                      2,481 0 2,481    None    None
41                                                699     255     954
42                                          537 0 537    None    None
43                                              3,102   2,187   5,289
44                                        578 126 704    None    None
45                                              1,324     663   1,987
46                                              0 0 0    None    None
47                                                  0       0       0
48                                              0 0 0    None    None
49                                                  0       0       0
50                                              0 0 0    None    None
51                                                  0       0       0
52                        1,332,999 273,416 1,606,415    None    None
53                                                 57       0      57
TABLE 4:
                        0       1     2        3     4  \
0                    None    None  None     None  None
1                Alabama†     675    1%   23,954   40%
2                    None    None  None     None  None
3                 Arizona   4,826    6%    7,607    9%
4                    None    None  None     None  None
5              California  46,543   11%  167,629   38%
6                    None    None  None     None  None
7            Connecticut†   6,693   18%    9,536   26%
8                    None    None  None     None  None
9   District of Columbia†   5,929   79%    6,821   88%
10                   None    None  None     None  None
11               Georgia†   2,379    2%   76,121   58%
12                   None    None  None     None  None
13                  Idaho     574    3%    1,162    5%
14                   None    None  None     None  None
15                Indiana   3,372    4%    6,884    8%
16                   None    None  None     None  None
17                 Kansas   7,631   22%   17,322   48%
18                   None    None  None     None  None
19             Louisiana*     155  0.3%   21,830   38%
20                   None    None  None     None  None
21            Maryland*,†   7,602   11%   28,704   40%
22                   None    None  None     None  None
23              Michigan†   2,434    2%   38,140   34%
24                   None    None  None     None  None
25           Mississippi†     141  0.4%    6,792   19%
26                   None    None  None     None  None
27                Montana      43  0.4%      269    2%
28                   None    None  None     None  None
29                Nevada†   1,490    4%    4,596   13%
30                   None    None  None     None  None
31             New Jersey  29,131   28%   43,244   40%
32                   None    None  None     None  None
33              New York†  42,957   20%  127,185   59%
34                   None    None  None     None  None
35          North Dakota†     370    4%    1,361   13%
36                   None    None  None     None  None
37               Oklahoma   2,910    6%   34,488   68%
38                   None    None  None     None  None
39        Pennsylvania*,†  21,613   16%   47,046   34%
40                   None    None  None     None  None
41         South Carolina   1,853    3%   27,214   46%
42                   None    None  None     None  None
43             Tennessee†   2,561    3%   18,779   23%
44                   None    None  None     None  None
45                Utah*,†   2,727    6%    5,154   11%
46                   None    None  None     None  None
47              Virginia†   5,632    6%   26,237   26%
48                   None    None  None     None  None
49         West Virginia†   1,178    7%   12,069   67%
50                   None    None  None     None  None
51                Wyoming     710   11%    1,193   18%
52                   None    None  None     None  None
53                   Guam      13  0.4%       71  2.5%

                                                    5      6        7     8
0   PRE-K + PRE-K SPECIAL EDUCATION + HEAD START††...   None     None  None
1                                               5,853    10%   26,557   44%
2                                 1,478 16% 2,440 26%   None     None  None
3                                               9,769    12%   14,184   17%
4                               10,666 29% 19,317 52%   None     None  None
5                                              77,703    18%  192,549   44%
6                               10,976 18% 23,485 37%   None     None  None
7                                               8,769    25%   11,573   31%
8                                 1,661 15% 2,442 22%   None     None  None
9                                               5,954    79%    6,897   89%
10                             21,581 10% 170,188 74%   None     None  None
11                                             12,444    10%   78,940   60%
12                                1,668 10% 2,720 16%   None     None  None
13                                              1,635     7%    2,669   11%
14                              40,815 29% 62,427 44%   None     None  None
15                                              7,761     9%   12,755   15%
16                               4,651 13% 28,596 74%   None     None  None
17                                              9,834    28%   19,859   55%
18                               9,697 18% 21,150 39%   None     None  None
19                                              9,165  16.3%   27,542   48%
20                                 1,082 9% 6,457 51%   None     None  None
21                                             11,148    16%   30,706   43%
22                              15,255 22% 23,797 34%   None     None  None
23                                             12,556    12%   42,743   38%
24                               7,849 12% 19,088 28%   None     None  None
25                                              6,475    18%   13,942   39%
26                               8,788 12% 16,248 22%   None     None  None
27                                              1,355    11%    1,721   14%
28                                4,852 19% 9,502 37%   None     None  None
29                                              2,640     7%    5,294   15%
30                                1,257 10% 1,562 12%   None     None  None
31                                             33,991    33%   48,624   45%
32                               6,268 28% 13,100 56%   None     None  None
33                                             54,307    25%  136,135   63%
34                                8,718 7% 35,639 30%   None     None  None
35                                              1,104    11%    2,301   23%
36                              19,446 15% 38,675 28%   None     None  None
37                                              9,296    19%   38,321   76%
38                               8,703 22% 12,245 29%   None     None  None
39                                             31,332    23%   58,996   43%
40                                1,281 12% 3,591 33%   None     None  None
41                                              6,615  11.3%   29,885   51%
42                                1,795 15% 2,670 22%   None     None  None
43                                              9,410    12%   24,202   29%
44                             70,502 18% 226,237 58%   None     None  None
45                                              4,892    10%    7,579   16%
46                                4,301 76% 4,361 75%   None     None  None
47                                             10,469    11%   31,044   31%
48                              13,368 15% 22,420 26%   None     None  None
49                                              3,241    18%   12,678   70%
50                               8,076 12% 45,860 71%   None     None  None
51                                              1,325    21%    1,822   28%
52                          633,781 17% 1,693,734 44%   None     None  None
53                                                186     6%      432   14%
TABLE 5:
                        0   1   2   3   4   5   6   7   8   9   10   11
0                  Alabama   4   4   4   4   4   4   4   4   4   4   10
1                  Arizona   4   4                               4    3
2          California CSPP   4   4       4               4   4   4    6
3                 Colorado   4           4           4   4            4
4           Connecticut SR   4   4       4           4   4            5
5                 Delaware   4   4       4   4   4   4   4   4  4*   9*
6                  Florida   4   4                   4           4    4
7              Hawaii EOEL   4   4   4   4   4   4   4   4   4   4   10
8                 Illinois   4   4   4   4           4   4   4   4    8
9               Iowa SWVPP   4   4   4   4   4       4   4   4        8
10                Kentucky   4   4   4   4           4   4   4  4*   8*
11          Louisiana LA 4   4   4   4   4           4   4   4   4    8
12                   Maine   4   4   4   4   4       4   4   4   4    9
13      Massachusetts CPPI   4   4               4   4   4       4    6
14                Michigan   4   4  4*   4   4   4   4   4   4   4  10*
15       Minnesota VPK/SRP   4   4                   4   4   4        5
16                Missouri   4      4*   4               4           4*
17                  Nevada   4   4       4           4   4   4   4    7
18              New Mexico   4   4       4   4   4   4   4   4   4    9
19          North Carolina   4   4  4*   4   4       4   4   4   4   9*
20                    Ohio   4   4       4                   4   4    5
21            Oregon Pre-K   4   4       4   4   4   4   4   4   4    9
22        Pennsylvania RTL   4   4       4           4   4            5
23  Pennsylvania K4 & SBPK   4   4                           4        3
24            Rhode Island   4   4   4   4   4   4   4   4   4   4   10
25               Tennessee   4   4   4   4       4   4   4   4   4    9
26                    Utah       4       4           4   4       4    5
27            Virginia VPI   4   4       4           4   4       4    6
28        Washington ECEAP   4   4       4   4   4   4   4   4   4    9
29           West Virginia   4   4   4   4   4       4   4   4   4    9
30                   TOTAL  58  56  31  47  19  19  46  48  41  42
TABLE 6:
                       0           1        2        3             4  \
0   District of Columbia           1  $22,207     $394  $284,007,157
1                 Oregon           3  $16,132   $1,739  $189,067,971
2             Washington           5  $11,940     $117  $251,365,473
3            Connecticut           7  $10,895  -$1,734  $140,223,426
4                 Nevada           9   $9,467     -$39   $23,488,749
5           Pennsylvania          11   $8,433     $124  $446,622,741
6             Vermont***          13   $8,244     $437   $68,702,087
7                Alabama          15   $7,429      $10  $173,745,222
8          West Virginia          17   $7,053      $63   $96,845,695
9              Minnesota          19   $6,735      $60   $52,523,670
10              New York          21   $6,101    -$104  $948,772,591
11              Virginia          23   $5,810     $186  $140,416,191
12               Georgia          25   $5,646       $4  $414,786,468
13              Illinois          27   $5,405    -$355  $438,746,040
14             Tennessee          29   $4,823    -$538   $86,029,013

In [ ]:

    print


    # tablesettings = {"horizontal_strategy": "text"}
    # page_ext = page.debug_tablefinder(table_settings=tablesettings)
    # page_ext.to_image(resolution=150)
    new_table
    print('helo')

In [ ]:
    tables = page.extract_tables({"horizontal_strategy": "text"})
    for table in tables:
        print(table)  # Print extracted tables row-by-row

%%

In [ ]:
tables = []
for i,file in enumerate(files):
    
    if i > 0:
        break
    file = files[0]
    print(file)
    with pdfplumber.open(file) as pdf:
        pages = pdf.pages
        for page in tqdm(pages):
            tables_found = page.find_tables() 
            if len(tables_found) == 0:
                continue
            else:
                table = page.extract_tables()
                tables.append(table)
                # print(tb.columns)

%%

In [ ]:
for table in tables:
    print(pd.DataFrame(table).to_string())
        # print(first_page.page_number)
        # print(first_page.find_tables())
        # print(first_page.chars[0])
# %%