## Setup

### Imports

In [2]:
#importing modules
import os, sys, json, datetime, re, xlrd  # Provides OS-dependent functionality, system-specific parameters, JSON handling, and date/time manipulation
import pandas as pd             # Provides data structures and data analysis tools
from openpyxl import Workbook
import numpy as np              # Supports large, multi-dimensional arrays and matrices
import requests
import glob
import time
from tqdm import tqdm
import urllib3
urllib3.disable_warnings(urllib3.exceptions.InsecureRequestWarning)
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
pd.options.mode.chained_assignment = None  # default='warn'
from IPython.display import display_markdown

import sys
# print(sys.executable)

from setuptools import find_packages
# print(find_packages())


from cprl_functions.state_capture import thi_states,state_ref, state_coding, state_pat, state_abv_pat
from cprl_functions.text_printing import bordered
from cprl_functions.defined_functions import create_pk, extract_title_and_name, get_recent_file

from datetime import date

### Definitions

In [3]:
def clean_str(str):
    cl = str.lower().replace("-","").replace(" ","").strip()
    return cl

In [4]:
def difference(string1, string2):
      # Split both strings into list items
  string1 = string1.split()
  string2 = string2.split()

  A = set(string1) # Store all string1 list items in set A
  B = set(string2) # Store all string2 list items in set B
 
  str_diff = A.symmetric_difference(B)
  isEmpty = (len(str_diff) == 0)
 
  if isEmpty:
    print("No Difference. Both Strings Are Same")
  else:
    print("The Difference Between Two Strings: ")
    print(str_diff)
  
  print('The programs runs successfully.')

# Driver code to call a function
usr_str1 = 'Educative is good'
usr_str2 = 'Educative is bad'
output = difference(usr_str1, usr_str2)

The Difference Between Two Strings:
{'good', 'bad'}
The programs runs successfully.

## Data Gathering

### Leg Lookup

In [5]:
#pull in recent year leg lookup

leg_path = fr"C:\Users\clutz\THE HUNT INSTITUTE\The Hunt Institute Team Site - Documents\Development (formerly Grants Management)\!Administrative\Christian\THII\legislator data\key_creation\2025"
leg_lookup_file = get_recent_file('*.xlsx', leg_path)
# print(leg_lookup_file)
leg_lookup_ref = pd.read_excel(leg_lookup_file)

In [6]:
#cleans up any na's
leg_lookup_ref = leg_lookup_ref.dropna(how='any', subset=['district_code'])
# leg_lookup_ref_2024 = leg_lookup_ref[~leg_lookup_ref['recorded_year'] == 2025]
# leg_lookup_ref = leg_lookup_ref[leg_lookup_ref['recorded_year'] == 2025]

leg_lookup_ref = leg_lookup_ref.reset_index(drop= True)
leg_lookup_ref.head()


# dupes = leg_lookup_ref[leg_lookup_ref['full_pk'].duplicated(keep=False)]
# dupes

,full_pk,primary_key,district_code,state abbreviation,chamber,title,first name,last name,party,district,date assumed office,name,tenure,leader,state_code,chamber_code
0,10006300.0,100063,63.0,AL,House,Alabama Representative,Cynthia,Almond,Republican,63.0,2021,AL Rep. Cynthia Almond (R-AL-063),4,NaN,10.0,0.0
1,10006600.0,100066,66.0,AL,House,Alabama Representative,Alan,Baker,Republican,66.0,2006,AL Rep. Alan Baker (R-AL-066),19,NaN,10.0,0.0
2,10004900.0,100049,49.0,AL,House,Alabama Representative,Russell,Bedsole,Republican,49.0,2020,AL Rep. Russell Bedsole (R-AL-049),5,NaN,10.0,0.0
3,10008000.0,100080,80.0,AL,House,Alabama Representative,Chris,Blackshear,Republican,80.0,2016,AL Rep. Chris Blackshear (R-AL-080),9,NaN,10.0,0.0
4,10006100.0,100061,61.0,AL,House,Alabama Representative,Ronald,Bolton,Republican,61.0,2022,"AL Rep. Ronald ""Ron"" Bolton (R-AL-061)",3,NaN,10.0,0.0

In [7]:
#loop_group creation (last_names associated with key)

#groupby data to get primary key and last names associated with it
loop_group = leg_lookup_ref.groupby(['primary_key']).agg({
    'last name': lambda x: '|'.join(
        list(set(f"{sc}" if not pd.isna(sc) else "not found"
        for sc in leg_lookup_ref.loc[x.index, 'last name'])))
}).reset_index()
loop_group['primary_key'] = loop_group['primary_key'].astype(int)
#set up dict for lookup
loop_dict = loop_group.set_index('primary_key')['last name'].to_dict()
for name, data in loop_group.items():
    print(data)

0       100001
1       100002
2       100003
3       100004
4       100005
         ...
1917    571013
1918    571014
1919    571015
1920    571016
1921    571017
Name: primary_key, Length: 1922, dtype: int64
0                Pettus
1              Harrison
2             Underwood
3                 Moore
4              Crawford
             ...
1917    Oliverio|Garcia
1918             Taylor
1919      Willis|Thorne
1920     Barrett|Rucker
1921      Takubo|Nelson
Name: last name, Length: 1922, dtype: object

### Attendance data

#### Pull attendance Data

In [8]:
# import all attendance data files
os.chdir(r'C:\Users\clutz\THE HUNT INSTITUTE\The Hunt Institute Team Site - Documents\Development (formerly Grants Management)\!Administrative\Christian\THII\attendance\attendance data')
events = glob.glob("*.xlsx")
print(*events, sep='\n')

2024_WSELR_attendance_data.xlsx
2025_GAR.xlsx
2025_HLR.xlsx
2025_HLR_bootcamp.xlsx
DE_LEG_ED_Dinner_2023.xlsx
ECLS_2024.xlsx
ECLS_2024_v2.xlsx
ElevateNC_C4_M3.xlsx
ElevateNC_C4_M4.xlsx
ElevateNC_C5_M2_2024.xlsx
HBCU_Caucus_2024.xlsx
HKF_C10_S1.xlsx
HKF_Regional_Visit_FAU.xlsx
HSPF_C4_M1.xlsx
HSPF_C4_M2.xlsx
HSPF_C4_M3.xlsx
IL_SLR_2023.xlsx
MO_SLR_2023.xlsx
NCCCS_M4.xlsx
NC_EC_Roundtable_2024.xlsx
NC_HLR_2024.xlsx
ND_Literacy_taskforce_2024.xlsx
ND_SLR_2023.xlsx
ND_SLR_2024.xlsx
ND_TRR_M1.xlsx
ND_TRR_m2.xlsx
ND_TRR_m3.xlsx
OH_SLR_2023.xlsx
OH_SLR_2024.xlsx
OK_SLR_2023.xlsx
OK_SLR_2024.xlsx
SC_Leg_Ed_Dinner_2023.xlsx
The_Path_Forward_2024.xlsx
WV_SLR_2023.xlsx
WV_SLR_2024.xlsx

#### Filling in State info

looks for state names in the title, org, and state fields

In [9]:
#clean event data
event_dfs = []
vals_changed = 0
for event in events:
    df = pd.read_excel(event)
    # print('######################')
    print(bordered(event))
    subset = df[df['last_name'].str.contains("brown", case=False, na=False)]
    print(subset)
    # print(*df.columns)
    #get event_name
    event_name = str(event).split('.')[0].strip().replace('_', ' ')
    df = df.iloc[:,:8]
    df.loc[:,'event name'] = event_name
    
    break_all = False
    # #print(df)
    # continue
    # display_markdown(f'## {event_name}', raw=True)
    for i,state in enumerate(df['state']):

        
        testing_string = str(df['title'].iloc[i]) + " " + str(df['org'].iloc[i])
        # #print(testing_string)
        testing_string = testing_string.lstrip('nan').lstrip().strip()
   
        state_match_uc = re.findall(state_pat, str(df.loc[i,'org']))
        state_match = [x for x in state_match_uc if len(x) > 0]
        
       

        # First match test
        if len(state_match) == 0:
            ##print('no regular state match')
            ##print(state_match_uc)
            state_abv_match_uc = re.findall(state_abv_pat, str(df['org'].iloc[i]))
            state_abv_match = [x for x in state_abv_match_uc if len(x) > 0]
            # Second match test
            if len(state_abv_match) == 0:
                ##print('no state abbreviation match')
                ##print(state_abv_match_uc)
                state_abv_event_match_uc = re.findall(state_abv_pat, str(df['event name'].iloc[i]))
                state_abv_event_match = [x for x in state_abv_event_match_uc if len(x) > 0]
                # Third match test
                if len(state_abv_event_match) == 0:
                    #print('no state abv event match')
                    #print(state_abv_event_match_uc)
                    #print(f'first name: {str(df.loc[i,'first_name'])}')
                    #print(f'last name: {str(df.loc[i,'last_name'])}')
                    #print(f'role: {str(df.loc[i,'role'])}')
                    #print(f'org: {str(df.loc[i,'org'])}')
                    #print(f'title: {str(df.loc[i,'title'])}')
                    continue
                elif len(state_abv_event_match) > 1:
                    #print('more than one match?')
                    # break_all = True
                    break
                else:
                    ##print("abv in event match")
                    state_val = str(state_abv_event_match[0])
                    # df.loc[i,'state'] = None
                    df.loc[i,'state'] = str(df.loc[i,'state'])
                    df.loc[i,'state'] = state_val
                    ##print(state_val)
                    vals_changed += 1
            elif len(state_abv_match) > 1:
                #print('more than one match?')
                #print(state_abv_match)
                ##print(df.loc[i, list(df.columns[:5]) + [df.columns[-1]]])
                break_all = True
                break
            else:
                #print("regular abreviation match")
                
                state_val = str(state_abv_match[0])
                # df.loc[i,'state'] = None
                df.loc[i,'state'] = str(df.loc[i,'state'])
                df.loc[i,'state'] = state_val
                ##print(state_val)
                vals_changed += 1

            # ##print('###########')
            # ##print(df.loc[i, list(df.columns[:5]) + [df.columns[-1]]])
            # ##print('\n')
            # break
        elif len(state_match) > 1:
            #print("more than one match?")
            # break_all = True
            break
        else:
            # #print("normal state match")
            state_val_dirty = str(state_match[0])
            state_val = state_ref.get(state_val_dirty)
            # df.loc[i,'state'] = str(df.loc[i,'state'])
            # df.loc[i,'state'] = None
            df.loc[i,'state'] = str(state_val)
            #print(state_val)
            vals_changed += 1

    event_dfs.append(df)
event_data = pd.concat(event_dfs)
event_data.reset_index(inplace=True, drop = True)

# os.chdir(r'C:\Users\clutz\OneDrive - THE HUNT INSTITUTE\Documents\Data\attendance data\all attendees testing')
# event_data.to_excel('event_data.xlsx', index=False)
# event_data

┌───────────────────────────────┐
│2024_WSELR_attendance_data.xlsx│
└───────────────────────────────┘
Empty DataFrame
Columns: [first_name, last_name, honorific, title, org, district, role, state, short_convening]
Index: []
┌─────────────┐
│2025_GAR.xlsx│
└─────────────┘
Empty DataFrame
Columns: [first_name, last_name, honorific, title, org, district, role, state, short_convening]
Index: []
┌─────────────┐
│2025_HLR.xlsx│
└─────────────┘
    first_name last_name       honorific                    title  \
15  Gloristine     Brown  Representative  NC House Representative

                 org  district        role state  short_convening
15  House District 8       8.0  Legislator    NC              NaN
┌──────────────────────┐
│2025_HLR_bootcamp.xlsx│
└──────────────────────┘
Empty DataFrame
Columns: [first_name, last_name, honorific, title, org, district, role, state, short_convening]
Index: []
┌──────────────────────────┐
│DE_LEG_ED_Dinner_2023.xlsx│
└──────────────────────────┘
Empty DataFrame
Columns: [first_name, last_name, honorific, title, org, district, role, state]
Index: []
┌──────────────┐
│ECLS_2024.xlsx│
└──────────────┘
    first_name     last_name               honorific                   title  \
46       Tikki         Brown  Assistant Commissioner  Assistant Commissioner
47     Shante'         Brown                     NaN        Deputy Secretary
139     Pamela  Goynes-Brown                   Mayor                   Mayor

                                                   org  district role  \
46                                              MN DHS       NaN  NaN
47   Pennsylvania's Office of Child Development and...       NaN  NaN
139                            City of North Las Vegas       NaN  NaN

            state
46      Minnesota
47   Pennsylvania
139        Nevada
┌─────────────────┐
│ECLS_2024_v2.xlsx│
└─────────────────┘
    first_name     last_name honorific             title  \
91      Pamela  Goynes-Brown     Mayor             Mayor
248    Shante'         Brown       NaN  Deputy Secretary

                                                   org role  attendee_type  \
91                             City of North Las Vegas  NaN  Local Elected
248  Pennsylvania's Office of Child Development and...  NaN          State

            state
91         Nevada
248  Pennsylvania
┌────────────────────┐
│ElevateNC_C4_M3.xlsx│
└────────────────────┘
Empty DataFrame
Columns: [first_name, last_name, honorific, title, org, district, role, state]
Index: []
┌────────────────────┐
│ElevateNC_C4_M4.xlsx│
└────────────────────┘
Empty DataFrame
Columns: [first_name, last_name, honorific, title, org, district, role, state]
Index: []
┌─────────────────────────┐
│ElevateNC_C5_M2_2024.xlsx│
└─────────────────────────┘
Empty DataFrame
Columns: [first_name, last_name, honorific, title, org, district, role, state, short_convening]
Index: []
┌─────────────────────┐
│HBCU_Caucus_2024.xlsx│
└─────────────────────┘
  honorific first_name last_name      title              org district  role  \
5       NaN      Miya     Brown   THI Staff  Hunt Institute       NaN   NaN

   state
5    NaN
┌───────────────┐
│HKF_C10_S1.xlsx│
└───────────────┘
   first_name last_name  honorific     title     org  district  \
10       Kate     Brown        NaN  Governor  Oregon       NaN

                  role  state
10  Governor | Speaker    NaN
┌───────────────────────────┐
│HKF_Regional_Visit_FAU.xlsx│
└───────────────────────────┘
Empty DataFrame
Columns: [first_name, last_name, honorific, title, org, district, role, state]
Index: []
┌───────────────┐
│HSPF_C4_M1.xlsx│
└───────────────┘
Empty DataFrame
Columns: [first_name, last_name, honorific, title, org, district, role, state]
Index: []
┌───────────────┐
│HSPF_C4_M2.xlsx│
└───────────────┘
   first_name        last_name honorific                            title  \
8        Tina            Brown     Mayor                            Mayor
40    Mshinda  Middleton-Brown       NaN  2023-2024 Principal of the Year

                       org  district      role state
8    Town of Robersonville       NaN    Alumni    NC
40  Durham Public Schools        NaN  Speakers    NC
┌───────────────┐
│HSPF_C4_M3.xlsx│
└───────────────┘
Empty DataFrame
Columns: [first_name, last_name, honorific, title, org, district, role, state]
Index: []
┌────────────────┐
│IL_SLR_2023.xlsx│
└────────────────┘
Empty DataFrame
Columns: [first_name, last_name, honorific, title, org, district, role, state, short_convening]
Index: []
┌────────────────┐
│MO_SLR_2023.xlsx│
└────────────────┘
Empty DataFrame
Columns: [first_name, last_name, honorific, title, org, district, role, state]
Index: []
┌─────────────┐
│NCCCS_M4.xlsx│
└─────────────┘
Empty DataFrame
Columns: [first_name, last_name, honorific, title, org, district, role, state]
Index: []
┌──────────────────────────┐
│NC_EC_Roundtable_2024.xlsx│
└──────────────────────────┘
   first_name last_name       honorific       title               org  \
1  Gloristine     Brown  Representative  Legislator  House District 8

   district  role  state
1       NaN   NaN    NaN
┌────────────────┐
│NC_HLR_2024.xlsx│
└────────────────┘
   first_name last_name       honorific           title                org  \
0      Kanika     Brown  Representative  Representative  House District 71
1  Gloristine     Brown  Representative  Representative   House District 8

   district        role  state
0       NaN  Legislator    NaN
1       NaN  Legislator    NaN
┌───────────────────────────────┐
│ND_Literacy_taskforce_2024.xlsx│
└───────────────────────────────┘
Empty DataFrame
Columns: [first_name, last_name, honorific, title, org, district, role, state]
Index: []
┌────────────────┐
│ND_SLR_2023.xlsx│
└────────────────┘
Empty DataFrame
Columns: [first_name, last_name, honorific, title, org, district, role, state]
Index: []
┌────────────────┐
│ND_SLR_2024.xlsx│
└────────────────┘
Empty DataFrame
Columns: [first_name, last_name, honorific, title, org, district, role, state]
Index: []
┌──────────────┐
│ND_TRR_M1.xlsx│
└──────────────┘
Empty DataFrame
Columns: [first_name, last_name, honorific, title, org, district, role, state]
Index: []
┌──────────────┐
│ND_TRR_m2.xlsx│
└──────────────┘
Empty DataFrame
Columns: [first_name, last_name, honorific, title, org, district, role, state]
Index: []
┌──────────────┐
│ND_TRR_m3.xlsx│
└──────────────┘
Empty DataFrame
Columns: [first_name, last_name, honorific, title, org, district, role, state]
Index: []
┌────────────────┐
│OH_SLR_2023.xlsx│
└────────────────┘
Empty DataFrame
Columns: [first_name, last_name, honorific, title, org, district, role, state]
Index: []
┌────────────────┐
│OH_SLR_2024.xlsx│
└────────────────┘
  first_name            last_name       honorific           title  \
4    Richard                Brown  Representative  Representative
5      Beryl  Brown Piccolantonio  Representative  Representative

                org  district role  state
4  House District 5         5   OH    NaN
5  House District 4         4   OH    NaN
┌────────────────┐
│OK_SLR_2023.xlsx│
└────────────────┘
  first_name last_name  honorific                        title  \
8      Jason     Brown        Mr.        Deputy Superintendent
9     Justin     Brown  Secretary  Secretary of Human Services

                            org  district     role  state
8  Oklahoma City Public Schools       NaN  Speaker    NaN
9       Oklahoma Human Services       NaN  Speaker    NaN
┌────────────────┐
│OK_SLR_2024.xlsx│
└────────────────┘
Empty DataFrame
Columns: [first_name, last_name, honorific, title, org, district, role, state]
Index: []
┌──────────────────────────┐
│SC_Leg_Ed_Dinner_2023.xlsx│
└──────────────────────────┘
Empty DataFrame
Columns: [first_name, last_name, honorific, title, org, district, role, state]
Index: []
┌──────────────────────────┐
│The_Path_Forward_2024.xlsx│
└──────────────────────────┘
  first_name last_name honorific                title               org  \
7      Sally     Brown       NaN  Associate Professor  College of Idaho

   district                         role  state
7       NaN  Cohort 3 State Team Members    NaN
┌────────────────┐
│WV_SLR_2023.xlsx│
└────────────────┘
Empty DataFrame
Columns: [first_name, last_name, honorific, title, org, district, role, state, Unnamed: 8, Unnamed: 9, Unnamed: 10, Unnamed: 11]
Index: []
┌────────────────┐
│WV_SLR_2024.xlsx│
└────────────────┘
Empty DataFrame
Columns: [first_name, last_name, honorific, title, org, district, role, state]
Index: []

In [10]:
event_data

,first_name,last_name,honorific,title,org,district,role,state,event name,attendee_type
0,Elsie,Arntzen,Superintendent Arntzen,Superintendent Elsie Arntzen,Office of Public Instruction,NaN,State Education Executive,NaN,2024 WSELR attendance data,NaN
1,June,Atkinson,Superintendent Atkinson,CEO,Emerald Education,NaN,Speaker | Resource Expert,NaN,2024 WSELR attendance data,NaN
2,Kirsten,Baesler,Superintendent Baesler,Superintendent,North Dakota Department of Public Instruction,NaN,State Education Executive,ND,2024 WSELR attendance data,NaN
3,Maggie,Cicco,Maggie,Research Fellow,Edunomics Lab at Georgetown University,NaN,Speaker | Resource Expert,NaN,2024 WSELR attendance data,NaN
4,Lisa,Coons,Superintendent Coons,Superintendent of Public Instruction,Virginia Department of Education,NaN,Speaker | Resource Expert,VA,2024 WSELR attendance data,NaN
...,...,...,...,...,...,...,...,...,...,...
2061,Hank,Hager,NaN,Chief Counsel,West Virginia State Senate Education Committee,NaN,Invited Guests,WV,WV SLR 2024,NaN
2062,Jeff,Kelley,NaN,Assistant Superintendent of District & School ...,West Virginia Department of Education,NaN,Invited Guests,WV,WV SLR 2024,NaN
2063,JB,McCuskey,Auditor,West Virginia State Auditor,West Virginia State Auditor's Office,NaN,Invited Guests,WV,WV SLR 2024,NaN
2064,Mike,Queen,NaN,Deputy Secretary of State,West Virginia Secretary of State's Office,NaN,Invited Guests,WV,WV SLR 2024,NaN
2065,Mac,Warner,Secretary,West Virginia Secretary of State,West Virginia Secretary of State,NaN,Invited Guests,WV,WV SLR 2024,NaN

In [11]:
#looks for state names and replaces them with state initials
for i,j in enumerate(event_data['state']):
    
    if isinstance(j, float):
        continue
    elif re.search(r'[A-Z]{2}', str(j)):
        continue
    else:
        val = state_ref.get(str(j))
        event_data.loc[i,'state'] = str(val)

In [12]:
event_data[event_data['last_name'].str.contains('Haas', na=False)]

,first_name,last_name,honorific,title,org,district,role,state,event name,attendee_type
426,Melanie,Haas,NaN,Chair,Kansas State Board of Education,NaN,NaN,KS,ECLS 2024,NaN
1469,Jackie,Haas,Representative,State Representative,Illinois House,79.0,Legislator,IL,IL SLR 2023,NaN

##### Defunct

In [13]:
# # export data summary
# #outputs event name with total attendance
# print(list(set(event_data['event name'].to_list())))
# event_data_summary = event_data.groupby(['event name']).size().reset_index(name='Count')

# event_data_summary.to_excel(r"C:\Users\clutz\OneDrive - THE HUNT INSTITUTE\Documents\Data\attendance data\metadata\event_sum_info.xlsx", index=False)

In [14]:
# #event data

# from datetime import date
# os.chdir(r'C:\Users\clutz\THE HUNT INSTITUTE\The Hunt Institute Team Site - Documents\Development (formerly Grants Management)\!Administrative\Christian\THII\attendance\bulk data')
# event_data.to_csv(f"all_event_data_export_{str(date.today()).replace('-','_')}.csv", index=False)

#### District Cleaning

##### Filtering for Legislators

In [15]:
#Legislator search pattern set up
title_pattern = r'[Rr]epresentative|[Ss]enator|[Ll]egislator'
org_pattern = r'[Ss]enate|[Hh]ouse of ([Rr]epresentatives)?(Delegates)?|(?<!School )(?:House District|District)|[Ss]tate [Hh]ouse'
exclude_pattern = r'[Aa]id(e)?|[Aa]ssistant|[Ss]taff|[Cc]ounsel'

In [16]:
# Filter for state legislators
filtered_df = event_data[
    (
        event_data['title'].astype(str).apply(lambda x: bool(re.search(title_pattern, x))) |
        event_data['org'].astype(str).apply(lambda x: bool(re.search(org_pattern, x)))
    ) &
    ~(
        event_data['org'].astype(str).apply(lambda x: bool(re.search(exclude_pattern, x))) |
        event_data['title'].astype(str).apply(lambda x: bool(re.search(exclude_pattern, x)))
    )
]
filtered_df[filtered_df['last_name'].str.contains('Haas', na = False)]

,first_name,last_name,honorific,title,org,district,role,state,event name,attendee_type
1469,Jackie,Haas,Representative,State Representative,Illinois House,79.0,Legislator,IL,IL SLR 2023,NaN

In [17]:
for i,j in enumerate(filtered_df['district']):
    if isinstance(j, float):
        if str(j) != 'nan': 
            # print(type(j))
            print(j)

29.0
49.0
11.0
17.0
88.0
42.0
3.0
8.0
12.0
83.0
95.0
41.0
15.0
22.0
57.0
32.0
42.0
29.0
107.0
82.0
25.0
13.0
100.0
31.0
45.0
30.0
33.0
31.0
38.0
7.0
21.0
109.0
101.0
34.0
112.0
99.0
20.0
4.0
27.0
24.0
115.0
50.0
58.0
97.0
64.0
63.0
35.0
44.0
5.0
41.0
116.0
43.0
26.0
23.0
68.0
36.0
17.0
42.0
3.0
83.0
95.0
22.0
42.0
82.0
100.0
31.0
33.0
31.0
7.0
112.0
27.0
24.0
41.0
116.0
68.0
52.0
59.0
56.0
4.0
31.0
3.0
30.0
85.0
111.0
79.0
19.0
24.0
60.0
89.0
56.0
66.0
32.0
1.0
108.0
71.0
90.0
54.0
62.0
74.0
61.0
51.0
105.0
84.0
16.0

##### Split

In [18]:
##Split those with districts in them and those not
##Find values with districts
districts_assigned = filtered_df[filtered_df['district'].isna() == False]
districts_not_assigned = filtered_df[filtered_df['district'].isna() == True]

w_districts = districts_not_assigned[(districts_not_assigned['org'].str.contains(r'[Dd]istrict\s?\d{1,3}[A-Za-z]?|[Dd](-|\s)?\d{2,3}[A-Za-z]?', regex=True) | 
                districts_not_assigned['title'].str.contains(r'[Dd]istrict\s?\d{1,3}[A-Za-z]?|[Dd](-|\s)?\d{2,3}[A-Za-z]?', regex=True) )&
                ~(districts_not_assigned['title'].str.contains(r'[Aa]ssistant|[Aa]id(e)?|[Ss]taff', regex=True, na=False))].reset_index(drop=True)

##find no districts
n_districts = districts_not_assigned[~(districts_not_assigned['org'].str.contains(r'[Dd]istrict\s?\d{1,3}[A-Za-z]?|[Dd](-|\s)?\d{2,3}[A-Za-z]?', regex=True) | 
                districts_not_assigned['title'].str.contains(r'[Dd]istrict\s?\d{1,3}[A-Za-z]?|[Dd](-|\s)?\d{2,3}[A-Za-z]?', regex=True)) &
                ~(districts_not_assigned['title'].str.contains(r'[Aa]ssistant|[Aa]id(e)?|[Ss]taff', regex=True, na=False))].reset_index(drop=True)

C:\Users\clutz\AppData\Local\Temp\ipykernel_24720\1890400694.py:6: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  w_districts = districts_not_assigned[(districts_not_assigned['org'].str.contains(r'[Dd]istrict\s?\d{1,3}[A-Za-z]?|[Dd](-|\s)?\d{2,3}[A-Za-z]?', regex=True) |
C:\Users\clutz\AppData\Local\Temp\ipykernel_24720\1890400694.py:7: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  districts_not_assigned['title'].str.contains(r'[Dd]istrict\s?\d{1,3}[A-Za-z]?|[Dd](-|\s)?\d{2,3}[A-Za-z]?', regex=True) )&
C:\Users\clutz\AppData\Local\Temp\ipykernel_24720\1890400694.py:8: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  ~(districts_not_assigned['title'].str.contains(r'[Aa]ssistant|[Aa]id(e)?|[Ss]taff', regex=True, na=False))].reset_index(drop=True)
C:\Users\clutz\AppData\Local\Temp\ipykernel_24720\1890400694.py:11: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  n_districts = districts_not_assigned[~(districts_not_assigned['org'].str.contains(r'[Dd]istrict\s?\d{1,3}[A-Za-z]?|[Dd](-|\s)?\d{2,3}[A-Za-z]?', regex=True) |
C:\Users\clutz\AppData\Local\Temp\ipykernel_24720\1890400694.py:12: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  districts_not_assigned['title'].str.contains(r'[Dd]istrict\s?\d{1,3}[A-Za-z]?|[Dd](-|\s)?\d{2,3}[A-Za-z]?', regex=True)) &
C:\Users\clutz\AppData\Local\Temp\ipykernel_24720\1890400694.py:13: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  ~(districts_not_assigned['title'].str.contains(r'[Aa]ssistant|[Aa]id(e)?|[Ss]taff', regex=True, na=False))].reset_index(drop=True)

In [19]:
w_districts[w_districts['last_name'].str.contains('Haas')]

Empty DataFrame
Columns: [first_name, last_name, honorific, title, org, district, role, state, event name, attendee_type]
Index: []

###### W/ Districts

In [20]:
#Looking for districts in title and org field
i = 0
for a,b in zip(w_districts.title, w_districts.org):


    has_a = False
    has_b = False
    if 'district' in str(a).lower() or re.search(r'[Dd]-?\s?\d{1,3}[A-Za-z]?', str(a)):
        match_a = re.findall(r'[Dd]istrict\s?\d{1,3}[A-Za-z]?|[Dd]-?\s?\d{1,3}[A-Za-z]?', str(a))
        match_a = [x for x in match_a if len(x) > 0]
        if len(match_a) == 0:
            print('no results for title')
            print(a)
            
        else:
            has_a = True
            match = re.sub(r'[A-Za-z]','',str(match_a[0]))

    
    if 'district' in str(b).lower() or re.search(r'[Dd]-?\s?\d{1,3}[A-Za-z]?', str(b)):
        match_b = re.findall(r'[Dd]istrict\s?\d{1,3}[A-Za-z]?|[Dd]-?\s?\d{1,3}[A-Za-z]?', str(b))
        match_b = [x for x in match_b if len(x) > 0]
        if len(match_b) == 0:
            print('no results for org')
            print(b)
        
        else:
            has_b = True
            match = re.sub(r'[A-Za-z]','',str(match_b[0]))


    if has_b == True or has_a == True:
        match_final = re.findall(r'\d+[A-Za-z]?', str(match))
        # print("final match: " + str(match_final[0]))
        # print("putting it on row: " + str(i))
        w_districts.loc[i, 'district'] = str(match_final[0]).strip().lstrip('0')

    i +=1
# w_districts

###### w/o Districts

In [21]:
#Data export to create patch file
# os.chdir(r'C:\Users\clutz\OneDrive - THE HUNT INSTITUTE\Documents\Data\attendance data\exports')
# n_districts.to_csv('no_districts.csv', index=False)

In [22]:
# Process patch file 
patch_file = r"C:\Users\clutz\OneDrive - THE HUNT INSTITUTE\Documents\Data\attendance data\patch files\no_districts_patch.csv"
districts_patch = pd.read_csv(patch_file)
# districts_patch

###### Patch

In [23]:
#pull together all data
patched_df = pd.concat([w_districts,districts_patch, districts_assigned]).reset_index(drop=True)

#### Final Clean-ups

In [24]:
#looks through and assigns chamber column to either house or senate
patched_df['chamber'] = ""
i = 0
for a,b in zip(patched_df.title, patched_df.org):
    if re.search(r'[Hh]ouse|[Ss]enate', str(b)):
        if re.search(r'[Hh]ouse', str(b)):
            chamber = "House"
        elif re.search(r'[Ss]enate', str(b)):
            chamber = "Senate"
    elif re.search(r'[Rr]epresentative|[Ss]enator|[Dd]elegate', str(a)):
        if re.search(r'[Rr]epresentative|[Dd]elegate', str(a)):
            chamber = "House"
        elif re.search(r'[Ss]enator', str(a)):
            chamber = "Senate"

    try:
        patched_df.loc[i,'chamber'] = str(chamber)
        i += 1
    except:
        i += 1
        continue


#find only thi states
patched_df = patched_df[patched_df['state'].isin(thi_states)]
patched_df = patched_df[~patched_df['district'].isna()]
patched_df.reset_index(inplace=True, drop=True)

#name edits
patched_df['first_name'] = patched_df['first_name'].str.strip().str.title()
patched_df['last_name'] = patched_df['last_name'].str.strip().str.title().str.replace("' ", "'")
# condition = patched_df['last_name'].str.contains(r'(?!\w+)\s(?<!\w)', regex = True)
# patched_df.loc[condition, 'last_name'] = (patched_df['last_name'].str.split(r'\s*,\s*(?=[A-Z])').str[0])
# Identify rows where 'last_name' has two words separated by whitespace
# patched_df

#### Pull in Event Metadata

In [25]:
#grab event dae metadata file
metadata_file = glob.glob(r"C:\Users\clutz\THE HUNT INSTITUTE\The Hunt Institute Team Site - Documents\Development (formerly Grants Management)\!Administrative\Christian\THII\attendance\metadata\*date*")[0]


event_dates_df = pd.read_excel(metadata_file)

event_dates_df = event_dates_df[['event', 'end_date']].drop_duplicates()
# event_dates_df


event_dates_df['recorded_year'] = event_dates_df['end_date'].dt.year.astype(str)
patched_df = pd.merge(patched_df, event_dates_df, how = "left", left_on="event name", right_on='event')
patched_df = patched_df.drop(['event', 'end_date'], axis = 'columns')

#### Create Primary Keys

In [26]:
#function call to create
cleaned_df,duplicates = create_pk(patched_df,'district', 'chamber')
# cleaned_df

In [27]:
#testing chunk
#checking lengths
# clean_dfs = [cleaned_df,duplicates]
# clean_df = pd.concat(clean_dfs)

# lengths = [patched_df, cleaned_df, duplicates]

# for l in lengths:
#     print(len(l))
#     print(l.shape[0])
# grouped_df.reset_index()

In [28]:
#clean non_dupes and rename columns
non_dupe_df = cleaned_df.loc[:,['primary_key', 'first_name','last_name', 'state','event name', 'recorded_year']]
non_dupe_df.rename(columns={'event name': 'events'}, inplace=True)


## Event Summary Data detour

#### Set up

In [29]:
#set upevent summary file
# primary purpose of this is to catch this info for general event information like attendance counts, etc

#pull single event goers
event_data_single = non_dupe_df.copy()
#clean up duplicates data
event_data_multiple = duplicates.loc[:,['primary_key', 'first_name','last_name', 'state','event name', 'recorded_year']]
event_data_multiple.rename(columns={'event name': 'events'}, inplace=True)


#pull event data back together
merged_dfs = [event_data_single, event_data_multiple]
event_sum_df = pd.concat(merged_dfs)
event_sum_df = event_sum_df.reset_index(drop=True)
# event_sum_df

In [30]:
#resplitting (single/non msl vs dupes/msl)

#reconfigure columns
event_sum_df_cl = event_sum_df.loc[:,['primary_key', 'first_name', 'last_name', 'events', 'state']]
event_sum_df_cl['primary_key'] = event_sum_df_cl['primary_key'].astype(str)


# #get single and non msl states
event_sum_df_nd = event_sum_df_cl[~event_sum_df_cl['primary_key'].duplicated()].reset_index(drop = True)
# event_sum_df_dp = event_sum_df_cl[event_sum_df_cl['primary_key'].duplicated()].reset_index(drop = True)
event_sum_df_nd = event_sum_df_nd[~event_sum_df_nd['primary_key'].str.startswith(('430','571'))].reset_index(drop = True)

# #get dupes and msl states
event_sum_df_dp_og = event_sum_df_cl[event_sum_df_cl['primary_key'].duplicated(keep=False)].reset_index(drop = True)
event_sum_df_dp_add = event_sum_df_cl[event_sum_df_cl['primary_key'].str.startswith(('430','571'))].reset_index(drop = True)

#pull the separated dupes back together
event_sum_df_dp = pd.concat([event_sum_df_dp_og,event_sum_df_dp_add]).reset_index(drop = True)
# event_sum_df_cl
# print(*event_sum_df_dp.columns, sep=" | ")

In [31]:
#create helper dict for fpk and last name
leg_lookup_ref['full_pk'] = leg_lookup_ref['full_pk'].astype(int).astype(str)
leg_dict = dict(zip(leg_lookup_ref['full_pk'],leg_lookup_ref['last name']))

In [32]:
#dupe full pk assignment

# Maintain a set to track processed primary keys
# processed_keys = set()
pks_processed = []
event_sum_df_dp['full_pk'] = np.nan
# Iterate over the primary keys
assigned = False
for i, j in enumerate(event_sum_df_dp['primary_key']):
    assignment_single = False
    alt_assignment = False
    continue_all = False
    change_primary_key = False
    full_pk = "blank"

    
    # display_markdown(fr'## {j}', raw = True)
    print('\n')
    print('\n')
    print(fr'^^^^^^^^^^^^^^^^^Iteration {i}^^^^^^^^^^^^^^^^^')
    # print(fr'{{{{{{{{{{{{{{{{{{{{{{{{Iteration {i}}}}}}}}}}}}}}}}}}}}}}}}}')
    print(fr'## {j}')
    row_last_name = event_sum_df_dp.loc[i,['last_name']][0]
    print(f"row's last_name: {row_last_name}")
    print(type(row_last_name))
    # Filter rows with the current key and get lists to check
    new_df = event_sum_df_dp[event_sum_df_dp['primary_key'] == j]
    print(new_df.to_string())
    


    int_j = int(j)
    last_names_pre = new_df['last_name'].to_list()
    last_names_post = list(set(last_names_pre))
    print(f'last names list: {len(last_names_post)}')
    #check if unique list is greater than one if so find the correct names for 2025
    if len(last_names_post) > 1 or str(int(j)).startswith(('43','57')):
        route = "multi"
        # print('###########')
        print('list of last names')
        print(last_names_post)
        # print(j)
        loop_results = loop_dict.get(int_j)

        try:
            loop_results = loop_results.split('|')
        except:
            print(int(j))
            continue
        loop_results = [clean_str(loop) for loop in loop_results]
        print(f'loop_results: {loop_results}')
        for li, l in enumerate(last_names_post): #goes through names returned from subset
            if clean_str(l) not in loop_results:
                #look in the other chamber
                
                
                print(f'{clean_str(l)} was not in any of {loop_results}')
                #get the chamber to find out what to switch
                chamber = re.match(r'^\d{2}(\d{1})\d+', str(j))
                print(chamber.group(1))
                
                if chamber.group(1) == "0":
                    alt = 1
                else:
                    alt = 0
                # print(alt)
                alt = str(alt)

                #new_j for looking up in the other branch of the state
                new_j = re.sub(r"(^\d{2})\d(\d+)", lambda m: f"{m.group(1)}{alt}{m.group(2)}", str(j))
                # print(f'new_j type: {type(new_j)}')

                #repull data from leg lookup
                loop_results_inner = loop_dict.get(int(new_j))
                print(f'loop_results_inner: {loop_results_inner}')
                # print(f'type: {type(loop_results_inner)}')
                
                #if loop results are valid
                if loop_results_inner is not None:
                    if not re.search(r'^57', str(new_j)):
                        loop_inner_list = loop_results_inner.split('|')
                        if l in loop_inner_list:
                            if clean_str(l) == clean_str(row_last_name):
                                full_pk = new_j + "00"
                                result_l_name = l
                                # event_sum_df_dp.loc[i,'primary_key'] = int(new_j)
                                change_primary_key = True
                                # print('#####ASSIGNING######')
                                # print(f'value being assigned: {str(int(full_pk))}')
                                # print('to this row values:')
                                # print(event_sum_df_dp.loc[i,:])
                                # event_sum_df_dp.loc[i,'full_pk'] = str(int(full_pk))
                                continue_all = True
                                alt_assignment = True
                                break
                            else:
                                continue
                        else: #last straw/check
                            #(to make it here it didnt come up in the list of legs for the current chamber and year nor other chamber)
                            last_names_post.remove(l)

                        # continue
                    # else:
                        # event_sum_df_dp.loc[i,'primary_key'] = int(new_j)
                        # continue
                else:
                    print('not in: ')
                    print(loop_results)
                    last_names_post.remove(l)
                        


            else: 
                if clean_str(l) == clean_str(row_last_name):
                    if not str(j).startswith(('430', '571')):
                        assignment_single = True
                        full_pk = str(int(j)) + "00"
                        print("it's in there")
                        break
                    else:
                        for num in ['01','02']:
                            j_lu = str(j)+num
                            print(f'fpk for lookup: {j_lu}')
                            look_result = leg_dict.get(str(j_lu))
                            look_result_lname = clean_str(look_result)
                            print(f'type: {type(look_result)}')
                            if look_result is None:
                                continue
                            elif look_result is None and num == '02':
                                print(f'couldnt find one for {l} at {str(j)}')
                                break
                            elif isinstance(look_result, str) and len(look_result)>0:
                                if clean_str(row_last_name) == look_result_lname:
                                    print(f'look result: {look_result}')
                                    full_pk = j_lu
                                    assignment_single = True
                                    break
                            
                    break

                else:
                    print(f'{l} didnt match row name ({row_last_name})')
                    continue
                    
        

                

                
        # print('final list')
        # print(last_names_post)
    #if only one, just make sure its a current legislator by checking the leg ref
    elif len(last_names_post) == 1:
        route = "single"
        l_name = last_names_post[0]

        print(f'the only last name initially: {l_name}')
        l_name_lu = leg_lookup_ref[leg_lookup_ref['primary_key']== str(int(j))]
        print('[[[[[[[[[]]]]]]]]]')
        print('compare the names below')
        print(l_name)
        print(l_name_lu['last name'].to_list())
        print('[[[[[[[[[]]]]]]]]]')
        print('df results') 
        
        print(l_name_lu.to_string())
        print('[[[[[[[[[]]]]]]]]]')
        
        try:
            l_name_res = l_name_lu['last name'].to_list()
            print(f'l_name_res: {l_name_res[0]}')
            l=l_name_res[0]
            if l_name_res[0].lower().replace('-', '').replace(' ', '') == l_name.lower().replace('-', '').replace(' ', ''):
                if clean_str(l) == clean_str(row_last_name):
                    print('names match')
                    result_l_name = l_name
                    full_pk = j + "00"
                    # print('#####ASSIGNING######')
                    # event_sum_df_dp.loc[i,'full_pk'] = full_pk
                    print('got assignment')
                    assignment_single = True
                    # continue
                else:
                    print('didnt match row name')
                    # continue
            else:
                print('not a current legislator')
            

        except:
            print('one of the l names isnt right')
            print(l_name_res)
            print(l_name)
            print('breaking now')
            break
    else:
        print('this list is 0?')
        print(last_names_post)
        print('breaking now')
        break
    # print(have_assignment)
    
    # Breaking point for assignments or to keep going
    print('___________assignment break_____________')

    print(f'              {route}                  ')
    print('________________________________________')
    if 'blank' not in str(full_pk) or (full_pk).startswith(r'430'):
        if assignment_single == True:
            event_sum_df_dp.loc[i,'full_pk'] = str(int(full_pk))
            print('#####ASSIGNING value###### (from single assignment)')
            print(f'Setting full_pk to: {str(int(full_pk))}')
            print(f'row name: {row_last_name}')
            print(f'original pk: {str(j)}')




        if alt_assignment == True:
            print(f'result name: {result_l_name}')
            print(f'row name: {row_last_name}')
            
            
            print('#####ASSIGNING updated value######')
            print(f'Setting full_pk to: {str(int(full_pk))}')
            print(f'result name: {result_l_name}')
            print(f'row name: {row_last_name}')
            event_sum_df_dp.loc[i,'full_pk'] = str(int(full_pk))

        if change_primary_key == True:
            print('#####Changing key######')
            print(f'primary key from [{str(int(j))}] to [{str(int(new_j))}] ')
            print(f'result name: {result_l_name}')
            print(f'row name: {row_last_name}')
            event_sum_df_dp.loc[i,'primary_key'] = int(new_j)

        if continue_all == True:
            continue
        
        if alt_assignment == True or assignment_single == True:
            continue
    else:
        # print('using j as primary key to look up ')
        lookup_df = leg_lookup_ref.loc[:,['last name', 'full_pk', 'primary_key']]
        lookup_df = lookup_df[lookup_df['primary_key']== j]
        lookup_seat = dict(zip(lookup_df['last name'], lookup_df['full_pk']))
        lookup_df = lookup_df.set_index('last name')

        #break for outputs
        print("############")
        print('###Lookup###')
        print("############")
        print(lookup_df.to_string())
        print("_________")

        print('\n')
        print('___________________')
        print('Final Assignment loop for remaining')
        print('___________________')
        print('\n')

        #last check for names by going through lookup_seat
        for k in last_names_post:
            print(k)
            # t = lookup_df.loc[k, 'full_pk']
            t = lookup_seat.get(k)
            print(t)
            if str(t) == "None":
                print('-----------------')
                print('none')
                print(f'last name: {k}')
                print('-----------------')
                continue
                # print(j)
                # print(v2_df.to_string())
            print('this should be the full pk')
            print(int(t))
            last_name_at_value = event_sum_df_dp.loc[i,'last_name']
            if k == last_name_at_value:
                print('#####ASSIGNING######')
                event_sum_df_dp.loc[i,'full_pk'] = int(t)

^^^^^^^^^^^^^^^^^Iteration 0^^^^^^^^^^^^^^^^^
## 401005
row's last_name: Jaramillo
<class 'str'>
  primary_key first_name  last_name                  events state  full_pk
0      401005        Leo  Jaramillo               ECLS 2024    NM      NaN
1      401005        Leo  Jaramillo  HKF Regional Visit FAU    NM      NaN
last names list: 1
the only last name initially: Jaramillo
[[[[[[[[[]]]]]]]]]
compare the names below
Jaramillo
['Jaramillo']
[[[[[[[[[]]]]]]]]]
df results
       full_pk primary_key  district_code state abbreviation chamber               title first name  last name     party  district  date assumed office                              name  tenure leader  state_code  chamber_code
1408  40100500      401005            5.0                 NM  Senate  New Mexico Senator        Leo  Jaramillo  Democrat       5.0                 2020  NM Sen. Leo Jaramillo (D-NM-005)       5    NaN        40.0           1.0
[[[[[[[[[]]]]]]]]]
l_name_res: Jaramillo
names match
got assignment
___________assignment break_____________
              single
________________________________________
#####ASSIGNING value###### (from single assignment)
Setting full_pk to: 40100500
row name: Jaramillo
original pk: 401005




^^^^^^^^^^^^^^^^^Iteration 1^^^^^^^^^^^^^^^^^
## 401005
row's last_name: Jaramillo
<class 'str'>
  primary_key first_name  last_name                  events state   full_pk
0      401005        Leo  Jaramillo               ECLS 2024    NM  40100500
1      401005        Leo  Jaramillo  HKF Regional Visit FAU    NM       NaN
last names list: 1
the only last name initially: Jaramillo
[[[[[[[[[]]]]]]]]]
compare the names below
Jaramillo
['Jaramillo']
[[[[[[[[[]]]]]]]]]
df results
       full_pk primary_key  district_code state abbreviation chamber               title first name  last name     party  district  date assumed office                              name  tenure leader  state_code  chamber_code
1408  40100500      401005            5.0                 NM  Senate  New Mexico Senator        Leo  Jaramillo  Democrat       5.0                 2020  NM Sen. Leo Jaramillo (D-NM-005)       5    NaN        40.0           1.0
[[[[[[[[[]]]]]]]]]
l_name_res: Jaramillo
names match
got assignment
___________assignment break_____________
              single
________________________________________
#####ASSIGNING value###### (from single assignment)
Setting full_pk to: 40100500
row name: Jaramillo
original pk: 401005




^^^^^^^^^^^^^^^^^Iteration 2^^^^^^^^^^^^^^^^^
## 571013
row's last_name: Oliverio
<class 'str'>
    primary_key first_name last_name                  events state full_pk
2        571013    Michael  Oliverio  HKF Regional Visit FAU    WV     NaN
155      571013    Michael  Oliverio               ECLS 2024    WV     NaN
156      571013    Michael  Oliverio              HKF C10 S1    WV     NaN
157      571013    Michael  Oliverio             WV SLR 2023    WV     NaN
279      571013    Michael  Oliverio  HKF Regional Visit FAU    WV     NaN
322      571013    Michael  Oliverio               ECLS 2024    WV     NaN
323      571013    Michael  Oliverio              HKF C10 S1    WV     NaN
324      571013    Michael  Oliverio             WV SLR 2023    WV     NaN
last names list: 1
list of last names
['Oliverio']
loop_results: ['oliverio', 'garcia']
fpk for lookup: 57101301
type: <class 'str'>
fpk for lookup: 57101302
type: <class 'str'>
look result: Oliverio
___________assignment break_____________
              multi
________________________________________
#####ASSIGNING value###### (from single assignment)
Setting full_pk to: 57101302
row name: Oliverio
original pk: 571013




^^^^^^^^^^^^^^^^^Iteration 3^^^^^^^^^^^^^^^^^
## 420057
row's last_name: Clemmons
<class 'str'>
    primary_key first_name last_name                 events state full_pk
3        420057     Ashton  Clemmons             HSPF C4 M1    NC     NaN
13       420057     Ashton  Clemmons  NC EC Roundtable 2024    NC     NaN
202      420057      Tracy     Clark               2025 HLR    NC     NaN
last names list: 2
list of last names
['Clark', 'Clemmons']
loop_results: ['clark']
Clark didnt match row name (Clemmons)
clemmons was not in any of ['clark']
0
loop_results_inner: None
not in:
['clark']
___________assignment break_____________
              multi
________________________________________
############
###Lookup###
############
            full_pk primary_key
last name
Clark      42005700      420057
_________


___________________
Final Assignment loop for remaining
___________________


Clark
42005700
this should be the full pk
42005700




^^^^^^^^^^^^^^^^^Iteration 4^^^^^^^^^^^^^^^^^
## 420109
row's last_name: Loftis
<class 'str'>
    primary_key first_name last_name                 events state full_pk
4        420109     Donnie    Loftis             HSPF C4 M1    NC     NaN
19       420109     Donnie    Loftis  NC EC Roundtable 2024    NC     NaN
212      420109     Donnie    Loftis               2025 HLR    NC     NaN
last names list: 1
the only last name initially: Loftis
[[[[[[[[[]]]]]]]]]
compare the names below
Loftis
['Loftis']
[[[[[[[[[]]]]]]]]]
df results
       full_pk primary_key  district_code state abbreviation chamber                          title first name last name       party  district  date assumed office                              name  tenure leader  state_code  chamber_code
1082  42010900      420109          109.0                 NC   House  North Carolina Representative     Donnie    Loftis  Republican     109.0                 2021  NC Rep. Donnie Loftis (R-NC-109)       4    NaN        42.0           0.0
[[[[[[[[[]]]]]]]]]
l_name_res: Loftis
names match
got assignment
___________assignment break_____________
              single
________________________________________
#####ASSIGNING value###### (from single assignment)
Setting full_pk to: 42010900
row name: Loftis
original pk: 420109




^^^^^^^^^^^^^^^^^Iteration 5^^^^^^^^^^^^^^^^^
## 420108
row's last_name: Torbett
<class 'str'>
   primary_key first_name last_name                 events state full_pk
5       420108       John   Torbett             HSPF C4 M2    NC     NaN
12      420108       John   Torbett  NC EC Roundtable 2024    NC     NaN
32      420108       John   Torbett            NC HLR 2024    NC     NaN
last names list: 1
the only last name initially: Torbett
[[[[[[[[[]]]]]]]]]
compare the names below
Torbett
['Torbett']
[[[[[[[[[]]]]]]]]]
df results
       full_pk primary_key  district_code state abbreviation chamber                          title first name last name       party  district  date assumed office                             name  tenure leader  state_code  chamber_code
1121  42010800      420108          108.0                 NC   House  North Carolina Representative       John   Torbett  Republican     108.0                 2010  NC Rep. John Torbett (R-NC-108)      15    NaN        42.0           0.0
[[[[[[[[[]]]]]]]]]
l_name_res: Torbett
names match
got assignment
___________assignment break_____________
              single
________________________________________
#####ASSIGNING value###### (from single assignment)
Setting full_pk to: 42010800
row name: Torbett
original pk: 420108




^^^^^^^^^^^^^^^^^Iteration 6^^^^^^^^^^^^^^^^^
## 421025
row's last_name: Galey
<class 'str'>
    primary_key first_name last_name       events state full_pk
6        421025        Amy     Galey   HSPF C4 M3    NC     NaN
21       421025        Amy     Galey  NC HLR 2024    NC     NaN
130      421025        Amy     Galey    ECLS 2024    NC     NaN
131      421025        Amy     Galey   HKF C10 S1    NC     NaN
206      421025        Amy     Galey     2025 HLR    NC     NaN
last names list: 1
the only last name initially: Galey
[[[[[[[[[]]]]]]]]]
compare the names below
Galey
['Galey']
[[[[[[[[[]]]]]]]]]
df results
       full_pk primary_key  district_code state abbreviation chamber                   title first name last name       party  district  date assumed office                          name  tenure leader  state_code  chamber_code
1152  42102500      421025           25.0                 NC  Senate  North Carolina Senator        Amy     Galey  Republican      25.0                 2020  NC Sen. Amy Galey (R-NC-025)       5    NaN        42.0           1.0
[[[[[[[[[]]]]]]]]]
l_name_res: Galey
names match
got assignment
___________assignment break_____________
              single
________________________________________
#####ASSIGNING value###### (from single assignment)
Setting full_pk to: 42102500
row name: Galey
original pk: 421025




^^^^^^^^^^^^^^^^^Iteration 7^^^^^^^^^^^^^^^^^
## 340136
row's last_name: Hein
<class 'str'>
    primary_key first_name last_name       events state full_pk
7        340136  Stephanie      Hein  MO SLR 2023    MO     NaN
137      340136  Stephanie      Hein    ECLS 2024    MO     NaN
last names list: 1
the only last name initially: Hein
[[[[[[[[[]]]]]]]]]
compare the names below
Hein
['Hein']
[[[[[[[[[]]]]]]]]]
df results
      full_pk primary_key  district_code state abbreviation chamber                    title first name last name     party  district  date assumed office                               name  tenure leader  state_code  chamber_code
877  34013600      340136          136.0                 MO   House  Missouri Representative  Stephanie      Hein  Democrat     136.0                 2022  MO Rep. Stephanie Hein (D-MO-136)       3    NaN        34.0           0.0
[[[[[[[[[]]]]]]]]]
l_name_res: Hein
names match
got assignment
___________assignment break_____________
              single
________________________________________
#####ASSIGNING value###### (from single assignment)
Setting full_pk to: 34013600
row name: Hein
original pk: 340136




^^^^^^^^^^^^^^^^^Iteration 8^^^^^^^^^^^^^^^^^
## 341020
row's last_name: Trent
<class 'str'>
    primary_key first_name last_name       events state full_pk
8        341020     Curtis     Trent  MO SLR 2023    MO     NaN
184      341020     Curtis     Trent   HKF C10 S1    MO     NaN
last names list: 1
the only last name initially: Trent
[[[[[[[[[]]]]]]]]]
compare the names below
Trent
['Trent']
[[[[[[[[[]]]]]]]]]
df results
       full_pk primary_key  district_code state abbreviation chamber             title first name last name       party  district  date assumed office                             name  tenure leader  state_code  chamber_code
1010  34102000      341020           20.0                 MO  Senate  Missouri Senator     Curtis     Trent  Republican      20.0                 2022  MO Sen. Curtis Trent (R-MO-020)       3    NaN        34.0           1.0
[[[[[[[[[]]]]]]]]]
l_name_res: Trent
names match
got assignment
___________assignment break_____________
              single
________________________________________
#####ASSIGNING value###### (from single assignment)
Setting full_pk to: 34102000
row name: Trent
original pk: 341020




^^^^^^^^^^^^^^^^^Iteration 9^^^^^^^^^^^^^^^^^
## 341014
row's last_name: Williams
<class 'str'>
    primary_key first_name last_name       events state full_pk
9        341014      Brian  Williams  MO SLR 2023    MO     NaN
190      341014      Brian  Williams    ECLS 2024    MO     NaN
last names list: 1
the only last name initially: Williams
[[[[[[[[[]]]]]]]]]
compare the names below
Williams
['Williams']
[[[[[[[[[]]]]]]]]]
df results
       full_pk primary_key  district_code state abbreviation chamber             title first name last name     party  district  date assumed office                               name  tenure leader  state_code  chamber_code
1013  34101400      341014           14.0                 MO  Senate  Missouri Senator      Brian  Williams  Democrat      14.0                 2018  MO Sen. Brian Williams (D-MO-014)       7    NaN        34.0           1.0
[[[[[[[[[]]]]]]]]]
l_name_res: Williams
names match
got assignment
___________assignment break_____________
              single
________________________________________
#####ASSIGNING value###### (from single assignment)
Setting full_pk to: 34101400
row name: Williams
original pk: 341014




^^^^^^^^^^^^^^^^^Iteration 10^^^^^^^^^^^^^^^^^
## 420008
row's last_name: Brown
<class 'str'>
    primary_key  first_name last_name                 events state full_pk
10       420008  Gloristine     Brown  NC EC Roundtable 2024    NC     NaN
20       420008  Gloristine     Brown            NC HLR 2024    NC     NaN
197      420008  Gloristine     Brown               2025 HLR    NC     NaN
last names list: 1
the only last name initially: Brown
[[[[[[[[[]]]]]]]]]
compare the names below
Brown
['Brown']
[[[[[[[[[]]]]]]]]]
df results
       full_pk primary_key  district_code state abbreviation chamber                          title  first name last name     party  district  date assumed office                                 name  tenure leader  state_code  chamber_code
1031  42000800      420008            8.0                 NC   House  North Carolina Representative  Gloristine     Brown  Democrat       8.0                 2022  NC Rep. Gloristine Brown (D-NC-008)       3    NaN        42.0           0.0
[[[[[[[[[]]]]]]]]]
l_name_res: Brown
names match
got assignment
___________assignment break_____________
              single
________________________________________
#####ASSIGNING value###### (from single assignment)
Setting full_pk to: 42000800
row name: Brown
original pk: 420008




^^^^^^^^^^^^^^^^^Iteration 11^^^^^^^^^^^^^^^^^
## 420083
row's last_name: Crutchfield
<class 'str'>
    primary_key first_name    last_name                 events state full_pk
11       420083      Kevin  Crutchfield  NC EC Roundtable 2024    NC     NaN
199      420083      Grant     Campbell               2025 HLR    NC     NaN
234      420083      Grant     Campbell      2025 HLR bootcamp    NC     NaN
last names list: 2
list of last names
['Crutchfield', 'Campbell']
loop_results: ['campbell']
crutchfield was not in any of ['campbell']
0
loop_results_inner: None
not in:
['campbell']
___________assignment break_____________
              multi
________________________________________
############
###Lookup###
############
            full_pk primary_key
last name
Campbell   42008300      420083
_________


___________________
Final Assignment loop for remaining
___________________


Campbell
42008300
this should be the full pk
42008300




^^^^^^^^^^^^^^^^^Iteration 12^^^^^^^^^^^^^^^^^
## 420108
row's last_name: Torbett
<class 'str'>
   primary_key first_name last_name                 events state   full_pk
5       420108       John   Torbett             HSPF C4 M2    NC  42010800
12      420108       John   Torbett  NC EC Roundtable 2024    NC       NaN
32      420108       John   Torbett            NC HLR 2024    NC       NaN
last names list: 1
the only last name initially: Torbett
[[[[[[[[[]]]]]]]]]
compare the names below
Torbett
['Torbett']
[[[[[[[[[]]]]]]]]]
df results
       full_pk primary_key  district_code state abbreviation chamber                          title first name last name       party  district  date assumed office                             name  tenure leader  state_code  chamber_code
1121  42010800      420108          108.0                 NC   House  North Carolina Representative       John   Torbett  Republican     108.0                 2010  NC Rep. John Torbett (R-NC-108)      15    NaN        42.0           0.0
[[[[[[[[[]]]]]]]]]
l_name_res: Torbett
names match
got assignment
___________assignment break_____________
              single
________________________________________
#####ASSIGNING value###### (from single assignment)
Setting full_pk to: 42010800
row name: Torbett
original pk: 420108




^^^^^^^^^^^^^^^^^Iteration 13^^^^^^^^^^^^^^^^^
## 420057
row's last_name: Clemmons
<class 'str'>
    primary_key first_name last_name                 events state full_pk
3        420057     Ashton  Clemmons             HSPF C4 M1    NC     NaN
13       420057     Ashton  Clemmons  NC EC Roundtable 2024    NC     NaN
202      420057      Tracy     Clark               2025 HLR    NC     NaN
last names list: 2
list of last names
['Clark', 'Clemmons']
loop_results: ['clark']
Clark didnt match row name (Clemmons)
clemmons was not in any of ['clark']
0
loop_results_inner: None
not in:
['clark']
___________assignment break_____________
              multi
________________________________________
############
###Lookup###
############
            full_pk primary_key
last name
Clark      42005700      420057
_________


___________________
Final Assignment loop for remaining
___________________


Clark
42005700
this should be the full pk
42005700




^^^^^^^^^^^^^^^^^Iteration 14^^^^^^^^^^^^^^^^^
## 420026
row's last_name: White
<class 'str'>
    primary_key first_name last_name                 events state full_pk
14       420026      Donna     White  NC EC Roundtable 2024    NC     NaN
227      420026      Donna     White               2025 HLR    NC     NaN
last names list: 1
the only last name initially: White
[[[[[[[[[]]]]]]]]]
compare the names below
White
['White']
[[[[[[[[[]]]]]]]]]
df results
       full_pk primary_key  district_code state abbreviation chamber                          title first name last name       party  district  date assumed office                            name  tenure leader  state_code  chamber_code
1129  42002600      420026           26.0                 NC   House  North Carolina Representative      Donna     White  Republican      26.0                 2016  NC Rep. Donna White (R-NC-026)       9    NaN        42.0           0.0
[[[[[[[[[]]]]]]]]]
l_name_res: White
names match
got assignment
___________assignment break_____________
              single
________________________________________
#####ASSIGNING value###### (from single assignment)
Setting full_pk to: 42002600
row name: White
original pk: 420026




^^^^^^^^^^^^^^^^^Iteration 15^^^^^^^^^^^^^^^^^
## 420063
row's last_name: Ross
<class 'str'>
    primary_key first_name last_name                 events state full_pk
15       420063    Stephen      Ross  NC EC Roundtable 2024    NC     NaN
29       420063    Stephen      Ross            NC HLR 2024    NC     NaN
223      420063    Stephen      Ross               2025 HLR    NC     NaN
last names list: 1
the only last name initially: Ross
[[[[[[[[[]]]]]]]]]
compare the names below
Ross
['Ross']
[[[[[[[[[]]]]]]]]]
df results
       full_pk primary_key  district_code state abbreviation chamber                          title first name last name       party  district  date assumed office                             name  tenure leader  state_code  chamber_code
1111  42006300      420063           63.0                 NC   House  North Carolina Representative    Stephen      Ross  Republican      63.0                 2022  NC Rep. Stephen Ross (R-NC-063)       3    NaN        42.0           0.0
[[[[[[[[[]]]]]]]]]
l_name_res: Ross
names match
got assignment
___________assignment break_____________
              single
________________________________________
#####ASSIGNING value###### (from single assignment)
Setting full_pk to: 42006300
row name: Ross
original pk: 420063




^^^^^^^^^^^^^^^^^Iteration 16^^^^^^^^^^^^^^^^^
## 420032
row's last_name: Sossamon
<class 'str'>
    primary_key first_name last_name                 events state full_pk
16       420032      Frank  Sossamon  NC EC Roundtable 2024    NC     NaN
31       420032      Frank  Sossamon            NC HLR 2024    NC     NaN
178      420032      Frank  Sossamon        ElevateNC C4 M3    NC     NaN
203      420032      Bryan      Cohn               2025 HLR    NC     NaN
last names list: 2
list of last names
['Sossamon', 'Cohn']
loop_results: ['cohn']
sossamon was not in any of ['cohn']
0
loop_results_inner: Lowe
___________assignment break_____________
              multi
________________________________________
############
###Lookup###
############
            full_pk primary_key
last name
Cohn       42003200      420032
_________



[[[[[[[[[]]]]]]]]]
compare the names below
Ross
['Ross']
[[[[[[[[[]]]]]]]]]
df results
       full_pk primary_key  district_code state abbreviation chamber                          title first name last name       party  district  date assumed office                             name  tenure leader  state_code  chamber_code
1111  42006300      420063           63.0                 NC   House  North Carolina Representative    Stephen      Ross  Republican      63.0                 2022  NC Rep. Stephen Ross (R-NC-063)       3    NaN        42.0           0.0
[[[[[[[[[]]]]]]]]]
l_name_res: Ross
names match
got assignment
___________assignment break_____________
              single
________________________________________
#####ASSIGNING value###### (from single assignment)
Setting full_pk to: 42006300
row name: Ross
original pk: 420063




^^^^^^^^^^^^^^^^^Iteration 30^^^^^^^^^^^^^^^^^
## 420044
row's last_name: Smith
<class 'str'>
    primary_key first_name last_name       events state full_pk
30       420044    Charles     Smith  NC HLR 2024    NC     NaN
224      420044    Charles     Smith     2025 HLR    NC     NaN
last names list: 1
the only last name initially: Smith
[[[[[[[[[]]]]]]]]]
compare the names below
Smith
['Smith']
[[[[[[[[[]]]]]]]]]
df results
       full_pk primary_key  district_code state abbreviation chamber                          title first name last name     party  district  date assumed office                              name  tenure leader  state_code  chamber_code
1118  42004400      420044           44.0                 NC   House  North Carolina Representative    Charles     Smith  Democrat      44.0                 2022  NC Rep. Charles Smith (D-NC-044)       3    NaN        42.0           0.0
[[[[[[[[[]]]]]]]]]
l_name_res: Smith
names match
got assignment
___________assignment break_____________
              single
________________________________________
#####ASSIGNING value###### (from single assignment)
Setting full_pk to: 42004400
row name: Smith
original pk: 420044




^^^^^^^^^^^^^^^^^Iteration 31^^^^^^^^^^^^^^^^^
## 420032
row's last_name: Sossamon
<class 'str'>
    primary_key first_name last_name                 events state full_pk
16       420032      Frank  Sossamon  NC EC Roundtable 2024    NC     NaN
31       420032      Frank  Sossamon            NC HLR 2024    NC     NaN
178      420032      Frank  Sossamon        ElevateNC C4 M3    NC     NaN
203      420032      Bryan      Cohn               2025 HLR    NC     NaN
last names list: 2
list of last names
['Sossamon', 'Cohn']
loop_results: ['cohn']
sossamon was not in any of ['cohn']
0
loop_results_inner: Lowe
___________assignment break_____________
              multi
________________________________________
############
###Lookup###
############
            full_pk primary_key
last name
Cohn       42003200      420032
_________


___________________
Final Assignment loop for remaining
___________________


Cohn
42003200
this should be the full pk
42003200




^^^^^^^^^^^^^^^^^Iteration 32^^^^^^^^^^^^^^^^^
## 420108
row's last_name: Torbett
<class 'str'>
   primary_key first_name last_name                 events state   full_pk
5       420108       John   Torbett             HSPF C4 M2    NC  42010800
12      420108       John   Torbett  NC EC Roundtable 2024    NC  42010800
32      420108       John   Torbett            NC HLR 2024    NC       NaN
last names list: 1
the only last name initially: Torbett
[[[[[[[[[]]]]]]]]]
compare the names below
Torbett
['Torbett']
[[[[[[[[[]]]]]]]]]
df results
       full_pk primary_key  district_code state abbreviation chamber                          title first name last name       party  district  date assumed office                             name  tenure leader  state_code  chamber_code
1121  42010800      420108          108.0                 NC   House  North Carolina Representative       John   Torbett  Republican     108.0                 2010  NC Rep. John Torbett (R-NC-108)      15    NaN        42.0           0.0
[[[[[[[[[]]]]]]]]]
l_name_res: Torbett
names match
got assignment
___________assignment break_____________
              single
________________________________________
#####ASSIGNING value###### (from single assignment)
Setting full_pk to: 42010800
row name: Torbett
original pk: 420108




^^^^^^^^^^^^^^^^^Iteration 33^^^^^^^^^^^^^^^^^
## 420036
row's last_name: Von Haefen
<class 'str'>
    primary_key first_name   last_name       events state full_pk
33       420036      Julie  Von Haefen  NC HLR 2024    NC     NaN
187      420036      Julie  Von Haefen    ECLS 2024    NC     NaN
230      420036      Julie  Von Haefen     2025 HLR    NC     NaN
last names list: 1
the only last name initially: Von Haefen
[[[[[[[[[]]]]]]]]]
compare the names below
Von Haefen
['Von Haefen']
[[[[[[[[[]]]]]]]]]
df results
       full_pk primary_key  district_code state abbreviation chamber                          title first name   last name     party  district  date assumed office                                 name  tenure leader  state_code  chamber_code
1124  42003600      420036           36.0                 NC   House  North Carolina Representative      Julie  Von Haefen  Democrat      36.0                 2018  NC Rep. Julie Von Haefen (D-NC-036)       7    NaN        42.0           0.0
[[[[[[[[[]]]]]]]]]
l_name_res: Von Haefen
names match
got assignment
___________assignment break_____________
              single
________________________________________
#####ASSIGNING value###### (from single assignment)
Setting full_pk to: 42003600
row name: Von Haefen
original pk: 420036




^^^^^^^^^^^^^^^^^Iteration 34^^^^^^^^^^^^^^^^^
## 420023
row's last_name: Willingham
<class 'str'>
    primary_key first_name   last_name       events state full_pk
34       420023     Shelly  Willingham  NC HLR 2024    NC     NaN
228      420023     Shelly  Willingham     2025 HLR    NC     NaN
last names list: 1
the only last name initially: Willingham
[[[[[[[[[]]]]]]]]]
compare the names below
Willingham
['Willingham']
[[[[[[[[[]]]]]]]]]
df results
       full_pk primary_key  district_code state abbreviation chamber                          title first name   last name     party  district  date assumed office                                  name  tenure leader  state_code  chamber_code
1130  42002300      420023           23.0                 NC   House  North Carolina Representative     Shelly  Willingham  Democrat      23.0                 2014  NC Rep. Shelly Willingham (D-NC-023)      11    NaN        42.0           0.0
[[[[[[[[[]]]]]]]]]
l_name_res: Willingham
names match
got assignment
___________assignment break_____________
              single
________________________________________
#####ASSIGNING value###### (from single assignment)
Setting full_pk to: 42002300
row name: Willingham
original pk: 420023




^^^^^^^^^^^^^^^^^Iteration 35^^^^^^^^^^^^^^^^^
## 420068
row's last_name: Willis
<class 'str'>
    primary_key first_name last_name                 events state full_pk
35       420068      David    Willis            NC HLR 2024    NC     NaN
191      420068      David    Willis  NC EC Roundtable 2024    NC     NaN
229      420068      David    Willis               2025 HLR    NC     NaN
249      420068      David    Willis      2025 HLR bootcamp    NC     NaN
last names list: 1
the only last name initially: Willis
[[[[[[[[[]]]]]]]]]
compare the names below
Willis
['Willis']
[[[[[[[[[]]]]]]]]]
df results
       full_pk primary_key  district_code state abbreviation chamber                          title first name last name       party  district  date assumed office                             name  tenure leader  state_code  chamber_code
1131  42006800      420068           68.0                 NC   House  North Carolina Representative      David    Willis  Republican      68.0                 2020  NC Rep. David Willis (R-NC-068)       5    NaN        42.0           0.0
[[[[[[[[[]]]]]]]]]
l_name_res: Willis
names match
got assignment
___________assignment break_____________
              single
________________________________________
#####ASSIGNING value###### (from single assignment)
Setting full_pk to: 42006800
row name: Willis
original pk: 420068




^^^^^^^^^^^^^^^^^Iteration 36^^^^^^^^^^^^^^^^^
## 430006
row's last_name: Anderson
<class 'str'>
    primary_key first_name last_name       events state full_pk
36       430006       Dick  Anderson  ND SLR 2024    ND     NaN
106      430006       Dick  Anderson  ND SLR 2023    ND     NaN
183      430006       Paul    Thomas  ND SLR 2023    ND     NaN
280      430006       Dick  Anderson  ND SLR 2024    ND     NaN
304      430006       Dick  Anderson  ND SLR 2023    ND     NaN
335      430006       Paul    Thomas  ND SLR 2023    ND     NaN
last names list: 2
list of last names
['Anderson', 'Thomas']
loop_results: ['anderson', 'vollmer']
fpk for lookup: 43000601
type: <class 'str'>
look result: Anderson
___________assignment break_____________
              multi
________________________________________
#####ASSIGNING value###### (from single assignment)
Setting full_pk to: 43000601
row name: Anderson
original pk: 430006




^^^^^^^^^^^^^^^^^Iteration 37^^^^^^^^^^^^^^^^^
## 430020
row's last_name: Beltz
<class 'str'>
    primary_key first_name last_name       events state full_pk
37       430020       Mike     Beltz  ND SLR 2024    ND     NaN
110      430020       Mike     Beltz  ND SLR 2023    ND     NaN
281      430020       Mike     Beltz  ND SLR 2024    ND     NaN
305      430020       Mike     Beltz  ND SLR 2023    ND     NaN
last names list: 1
list of last names
['Beltz']
loop_results: ['hagert', 'beltz']
fpk for lookup: 43002001
type: <class 'str'>
look result: Beltz
___________assignment break_____________
              multi
________________________________________
#####ASSIGNING value###### (from single assignment)
Setting full_pk to: 43002001
row name: Beltz
original pk: 430020




^^^^^^^^^^^^^^^^^Iteration 38^^^^^^^^^^^^^^^^^
## 430008
row's last_name: Berg
<class 'str'>
    primary_key first_name last_name       events state full_pk
38       430008       Mike      Berg  ND SLR 2024    ND     NaN
158      430008      Suann     Olson  ND SLR 2023    ND     NaN
282      430008       Mike      Berg  ND SLR 2024    ND     NaN
325      430008      Suann     Olson  ND SLR 2023    ND     NaN
last names list: 2
list of last names
['Olson', 'Berg']
loop_results: ['olson', 'berg']
Olson didnt match row name (Berg)
fpk for lookup: 43000801
type: <class 'str'>
look result: Berg
___________assignment break_____________
              multi
________________________________________
#####ASSIGNING value###### (from single assignment)
Setting full_pk to: 43000801
row name: Berg
original pk: 430008




^^^^^^^^^^^^^^^^^Iteration 39^^^^^^^^^^^^^^^^^
## 430044
row's last_name: Boschee
<class 'str'>
    primary_key first_name last_name       events state full_pk
39       430044       Josh   Boschee  ND SLR 2024    ND     NaN
111      430044       Josh   Boschee    ECLS 2024    ND     NaN
283      430044       Josh   Boschee  ND SLR 2024    ND     NaN
306      430044       Josh   Boschee    ECLS 2024    ND     NaN
last names list: 1
list of last names
['Boschee']
loop_results: ['hanson', 'foss']
boschee was not in any of ['hanson', 'foss']
0
loop_results_inner: Boschee
___________assignment break_____________
              multi
________________________________________
result name: Boschee
row name: Boschee
#####ASSIGNING updated value######
Setting full_pk to: 43104400
result name: Boschee
row name: Boschee
#####Changing key######
primary key from [430044] to [431044]
result name: Boschee
row name: Boschee




^^^^^^^^^^^^^^^^^Iteration 40^^^^^^^^^^^^^^^^^
## 431010
row's last_name: Braunberger
<class 'str'>
    primary_key first_name    last_name       events state full_pk
40       431010       Ryan  Braunberger  ND SLR 2024    ND     NaN
112      431010       Ryan  Braunberger    ECLS 2024    ND     NaN
113      431010       Ryan  Braunberger  ND SLR 2023    ND     NaN
last names list: 1
list of last names
['Braunberger']
loop_results: ['braunberger']
it's in there
___________assignment break_____________
              multi
________________________________________
#####ASSIGNING value###### (from single assignment)
Setting full_pk to: 43101000
row name: Braunberger
original pk: 431010




^^^^^^^^^^^^^^^^^Iteration 41^^^^^^^^^^^^^^^^^
## 431012
row's last_name: Conley
<class 'str'>
    primary_key first_name last_name       events state full_pk
41       431012       Cole    Conley  ND SLR 2024    ND     NaN
121      431012       Cole    Conley  ND SLR 2023    ND     NaN
last names list: 1
list of last names
['Conley']
loop_results: ['conley']
it's in there
___________assignment break_____________
              multi
________________________________________
#####ASSIGNING value###### (from single assignment)
Setting full_pk to: 43101200
row name: Conley
original pk: 431012




^^^^^^^^^^^^^^^^^Iteration 42^^^^^^^^^^^^^^^^^
## 430042
row's last_name: Cory
<class 'str'>
    primary_key first_name last_name       events state full_pk
42       430042     Claire      Cory  ND SLR 2024    ND     NaN
122      430042     Claire      Cory  ND SLR 2023    ND     NaN
154      430042      Emily   O'Brien    ECLS 2024    ND     NaN
284      430042     Claire      Cory  ND SLR 2024    ND     NaN
310      430042     Claire      Cory  ND SLR 2023    ND     NaN
321      430042      Emily   O'Brien    ECLS 2024    ND     NaN
last names list: 2
list of last names
["O'Brien", 'Cory']
loop_results: ["o'brien", 'osowski']
O'Brien didnt match row name (Cory)
cory was not in any of ["o'brien", 'osowski']
0
loop_results_inner: Cory
___________assignment break_____________
              multi
________________________________________
result name: Cory
row name: Cory
#####ASSIGNING updated value######
Setting full_pk to: 43104200
result name: Cory
row name: Cory
#####Changing key######
primary key from [430042] to [431042]
result name: Cory
row name: Cory




^^^^^^^^^^^^^^^^^Iteration 43^^^^^^^^^^^^^^^^^
## 431041
row's last_name: Davison
<class 'str'>
    primary_key first_name last_name       events state full_pk
43       431041       Kyle   Davison  ND SLR 2024    ND     NaN
124      431041       Kyle   Davison  ND SLR 2023    ND     NaN
last names list: 1
list of last names
['Davison']
loop_results: ['davison']
it's in there
___________assignment break_____________
              multi
________________________________________
#####ASSIGNING value###### (from single assignment)
Setting full_pk to: 43104100
row name: Davison
original pk: 431041




^^^^^^^^^^^^^^^^^Iteration 44^^^^^^^^^^^^^^^^^
## 431015
row's last_name: Estenson
<class 'str'>
    primary_key first_name last_name       events state full_pk
44       431015       Judy  Estenson  ND SLR 2024    ND     NaN
128      431015       Judy  Estenson  ND SLR 2023    ND     NaN
last names list: 1
list of last names
['Estenson']
loop_results: ['weston']
estenson was not in any of ['weston']
1
loop_results_inner: Henderson|Frelich
___________assignment break_____________
              multi
________________________________________
############
###Lookup###
############
            full_pk primary_key
last name
Weston     43101500      431015
_________


___________________
Final Assignment loop for remaining
___________________






^^^^^^^^^^^^^^^^^Iteration 45^^^^^^^^^^^^^^^^^
## 430021
row's last_name: Hager
<class 'str'>
    primary_key  first_name last_name       events state full_pk
45       430021  Lauriebeth     Hager  ND SLR 2024    ND     NaN
133      430021  Lauriebeth     Hager  ND SLR 2023    ND     NaN
285      430021  Lauriebeth     Hager  ND SLR 2024    ND     NaN
311      430021  Lauriebeth     Hager  ND SLR 2023    ND     NaN
last names list: 1
list of last names
['Hager']
loop_results: ['hager', 'schneider']
fpk for lookup: 43002101
type: <class 'str'>
look result: Hager
___________assignment break_____________
              multi
________________________________________
#####ASSIGNING value###### (from single assignment)
Setting full_pk to: 43002101
row name: Hager
original pk: 430021




^^^^^^^^^^^^^^^^^Iteration 46^^^^^^^^^^^^^^^^^
## 430032
row's last_name: Heinert
<class 'str'>
    primary_key first_name last_name       events state full_pk
46       430032        Pat   Heinert  ND SLR 2024    ND     NaN
138      430032        Pat   Heinert  ND SLR 2023    ND     NaN
148      430032       Lisa     Meier  ND SLR 2023    ND     NaN
286      430032        Pat   Heinert  ND SLR 2024    ND     NaN
313      430032        Pat   Heinert  ND SLR 2023    ND     NaN
316      430032       Lisa     Meier  ND SLR 2023    ND     NaN
last names list: 2
list of last names
['Meier', 'Heinert']
loop_results: ['meier', 'heinert']
Meier didnt match row name (Heinert)
fpk for lookup: 43003201
type: <class 'str'>
look result: Heinert
___________assignment break_____________
              multi
________________________________________
#####ASSIGNING value###### (from single assignment)
Setting full_pk to: 43003201
row name: Heinert
original pk: 430032




^^^^^^^^^^^^^^^^^Iteration 47^^^^^^^^^^^^^^^^^
## 430013
row's last_name: Jonas
<class 'str'>
    primary_key first_name last_name       events state full_pk
47       430013        Jim     Jonas  ND SLR 2024    ND     NaN
174      430013     Austen   Schauer  ND SLR 2023    ND     NaN
287      430013        Jim     Jonas  ND SLR 2024    ND     NaN
331      430013     Austen   Schauer  ND SLR 2023    ND     NaN
last names list: 2
list of last names
['Schauer', 'Jonas']
loop_results: ['schauer', 'jonas']
Schauer didnt match row name (Jonas)
fpk for lookup: 43001301
type: <class 'str'>
look result: Jonas
___________assignment break_____________
              multi
________________________________________
#####ASSIGNING value###### (from single assignment)
Setting full_pk to: 43001301
row name: Jonas
original pk: 430013




^^^^^^^^^^^^^^^^^Iteration 48^^^^^^^^^^^^^^^^^
## 430035
row's last_name: Karls
<class 'str'>
    primary_key first_name  last_name       events state full_pk
48       430035      Karen      Karls  ND SLR 2024    ND     NaN
50       430035        Bob  Martinson  ND SLR 2024    ND     NaN
288      430035      Karen      Karls  ND SLR 2024    ND     NaN
289      430035        Bob  Martinson  ND SLR 2024    ND     NaN
last names list: 2
list of last names
['Karls', 'Martinson']
loop_results: ['karls', 'martinson']
fpk for lookup: 43003501
type: <class 'str'>
look result: Karls
___________assignment break_____________
              multi
________________________________________
#####ASSIGNING value###### (from single assignment)
Setting full_pk to: 43003501
row name: Karls
original pk: 430035




^^^^^^^^^^^^^^^^^Iteration 49^^^^^^^^^^^^^^^^^
## 431030
row's last_name: Larson
<class 'str'>
    primary_key first_name last_name       events state full_pk
49       431030      Diane    Larson  ND SLR 2024    ND     NaN
144      431030      Diane    Larson  ND SLR 2023    ND     NaN
last names list: 1
list of last names
['Larson']
loop_results: ['larson']
it's in there
___________assignment break_____________
              multi
________________________________________
#####ASSIGNING value###### (from single assignment)
Setting full_pk to: 43103000
row name: Larson
original pk: 431030




^^^^^^^^^^^^^^^^^Iteration 50^^^^^^^^^^^^^^^^^
## 430035
row's last_name: Martinson
<class 'str'>
    primary_key first_name  last_name       events state   full_pk
48       430035      Karen      Karls  ND SLR 2024    ND  43003501
50       430035        Bob  Martinson  ND SLR 2024    ND       NaN
288      430035      Karen      Karls  ND SLR 2024    ND       NaN
289      430035        Bob  Martinson  ND SLR 2024    ND       NaN
last names list: 2
list of last names
['Karls', 'Martinson']
loop_results: ['karls', 'martinson']
Karls didnt match row name (Martinson)

In [33]:
#view event_sum_df_dp df
event_sum_df_dp

,primary_key,first_name,last_name,events,state,full_pk
0,401005,Leo,Jaramillo,ECLS 2024,NM,40100500
1,401005,Leo,Jaramillo,HKF Regional Visit FAU,NM,40100500
2,571013,Michael,Oliverio,HKF Regional Visit FAU,WV,57101302
3,420057,Ashton,Clemmons,HSPF C4 M1,NC,NaN
4,420109,Donnie,Loftis,HSPF C4 M1,NC,42010900
...,...,...,...,...,...,...
333,430025,Cindy,Schreiber-Beck,ND SLR 2023,ND,43002502
334,430037,Vicky,Steiner,ND SLR 2023,ND,43003702
335,431006,Paul,Thomas,ND SLR 2023,ND,43100600
336,430033,Bill,Tveit,ND SLR 2023,ND,43003302
337,430014,Robin,Weisz,ND SLR 2023,ND,43001402

In [34]:
#final clean ups
#add full pk to nondupes
event_sum_df_nd['full_pk'] = event_sum_df_nd['primary_key'] + "00"
event_sum_df_nd['source'] = 'normal'
event_sum_df_dp['source'] = "dupe"
event_sum_dfs = [event_sum_df_nd,event_sum_df_dp]

event_summary_df = pd.concat(event_sum_dfs).reset_index(drop=True)
event_summary_df['events'] = event_summary_df['events'].str.replace('(', '').str.replace(')', '').str.strip()
event_summary_df.columns
event_summary_df

#move full_pk column
first_column = event_summary_df.pop('full_pk')
event_summary_df.insert(0, 'full_pk', first_column)

#### Party Data

In [35]:
#divide by missing to get parties
missing = event_summary_df[event_summary_df['full_pk'].isna()].reset_index(drop=True)
norms = event_summary_df[~event_summary_df['full_pk'].isna()].reset_index(drop=True)
norms['full_pk'] = norms['full_pk'].astype(int).astype(str)


#set up dict lookup for norms 
party_dict = dict(zip(leg_lookup_ref['full_pk'], leg_lookup_ref['party']))
party_lookup = leg_lookup_ref.loc[:,['full_pk','party']]
party_lookup['full_pk'] = party_lookup['full_pk'].astype(int).astype(str)

#merge to get parties
norms_w_party = pd.merge(norms, party_lookup, how = "left",on='full_pk').reset_index(drop=True)

In [36]:
#last year info lookup setup 

#file and data import
legs_path_2024 = r"C:\Users\clutz\THE HUNT INSTITUTE\The Hunt Institute Team Site - Documents\Development (formerly Grants Management)\!Administrative\Christian\THII\legislator data\all_leg_files\2024"
legs_2024 = pd.read_excel(get_recent_file(r"*",legs_path_2024))


#dict setup
leg_dict_24_name = dict(zip(legs_2024['primary_key'], legs_2024['Last Name']))
leg_dict_24_party = dict(zip(legs_2024['primary_key'], legs_2024['Party']))

In [37]:
#pulls in party for older non active leg
missing['party']  = np.nan  
for i,j in enumerate(missing['primary_key']):
    legs = leg_dict_24_name.get(j)
    
    if isinstance(legs, str):
        party = leg_dict_24_party.get(j)
        missing.loc[i,['party']] = party
        # print(party)

    # print(legs)
    # print(type(legs))
    if legs is None:
        continue
        # print(missing.loc[i,:])

In [38]:
#pull party df's back together

dfs = [missing,norms_w_party]
event_summary_df = pd.concat(dfs).reset_index(drop =True)
# event_summary_df

In [39]:
#*testing*

prim_keys_after = list(set(event_sum_df['primary_key'].to_list()))
prim_keys_before = event_sum_df['primary_key'].to_list()
test = [prim_keys_before,prim_keys_after]
for t in test:
    print(len(t))

462
310

In [40]:
# create full name column
event_summary_df['full_name'] = event_summary_df['first_name'] + " " + event_summary_df['last_name']

move_full_name = event_summary_df

# event_summary_df.head(2)

### Final Cleaning

In [41]:
#eliminate generated duplicates between first name, last name, and events
event_summary_df = event_summary_df.drop_duplicates(subset=['first_name', 'last_name', 'events'])

In [42]:
#assigning seats
pk_list = list(set((event_summary_df['primary_key'].to_list())))

for p in pk_list:
    # if "420057" in p:
    print(str(p))
    
    ## return rows matching pk
    p_rows = event_summary_df[event_summary_df['primary_key'] == p]
    # print(p_rows.to_string())
    name_list = list(set(p_rows['full_name'].to_list()))
    
    
    #skip logic
    if len(name_list) == 1:
        continue 
    else:
        print(name_list)
        print(p_rows.to_string())

    #
    has_nan = False
    fpk_ls = p_rows['full_pk'].to_list()
    if str(p).startswith('430'):
        new_ls = list(set(fpk_ls))
        print(f'new_ls: {new_ls}')
        have_seat_one = False
        have_seat_two = False
        for n in new_ls:
            if str(n)[:-2] == "01":
                if have_seat_one == True:
                    print("already have one")
                    break
                else:
                    have_seat_one = True
            if str(n)[:-2] == "02":
                if have_seat_one == True:
                    print("already have one")
                    break
                else:
                    have_seat_two = True
   

    

        
    for xi, x in enumerate(fpk_ls):
        if str(x) == 'nan':
            has_nan = True 
        elif xi == (len(fpk_ls)-1 ):
            break
    if has_nan == True:
        print('__________')
        print(p_rows.to_string())
        print('__________')
        print('\n')
        # to_change = p_rows.index.to_list()
        # for t in to_change:
        #     event_summary_df.loc[t, ['full_pk']] = np.nan


        
event_summary_df

340004
440099
420057
['Ashton Clemmons', 'Tracy Clark']
      full_pk primary_key first_name last_name                 events state source     party        full_name
0         NaN      420057     Ashton  Clemmons             HSPF C4 M1    NC   dupe  Democrat  Ashton Clemmons
2         NaN      420057     Ashton  Clemmons  NC EC Roundtable 2024    NC   dupe  Democrat  Ashton Clemmons
482  42005700      420057      Tracy     Clark               2025 HLR    NC   dupe  Democrat      Tracy Clark
__________
      full_pk primary_key first_name last_name                 events state source     party        full_name
0         NaN      420057     Ashton  Clemmons             HSPF C4 M1    NC   dupe  Democrat  Ashton Clemmons
2         NaN      420057     Ashton  Clemmons  NC EC Roundtable 2024    NC   dupe  Democrat  Ashton Clemmons
482  42005700      420057      Tracy     Clark               2025 HLR    NC   dupe  Democrat      Tracy Clark
__________


341020
440024
420099
441019
160065
450013
430031
['Karen Rohr', 'Dawson Holle']
      full_pk primary_key first_name last_name       events state source       party     full_name
352  43003102      430031      Karen      Rohr  ND SLR 2024    ND   dupe  Republican    Karen Rohr
423  43003101      430031     Dawson     Holle  ND SLR 2023    ND   dupe  Republican  Dawson Holle
450  43003102      430031      Karen      Rohr  ND SLR 2023    ND   dupe  Republican    Karen Rohr
new_ls: ['43003101', '43003102']
220060
220024
430002
431037
420034
['Timothy Longest', 'Tim Longest']
      full_pk primary_key first_name last_name       events state  source     party        full_name
232  42003400      420034        Tim   Longest  NC HLR 2024    NC  normal  Democrat      Tim Longest
493  42003400      420034    Timothy   Longest     2025 HLR    NC    dupe  Democrat  Timothy Longest
570069
450033
421039
450056
340048
450068
420045
440001
431013
431032
420083
['Kevin Crutchfield', 'Grant Campbell']
      full_pk primary_key first_name    last_name                 events state source       party          full_name
1         NaN      420083      Kevin  Crutchfield  NC EC Roundtable 2024    NC   dupe  Republican  Kevin Crutchfield
480  42008300      420083      Grant     Campbell               2025 HLR    NC   dupe  Republican     Grant Campbell
514  42008300      420083      Grant     Campbell      2025 HLR bootcamp    NC   dupe  Republican     Grant Campbell
__________
      full_pk primary_key first_name    last_name                 events state source       party          full_name
1         NaN      420083      Kevin  Crutchfield  NC EC Roundtable 2024    NC   dupe  Republican  Kevin Crutchfield
480  42008300      420083      Grant     Campbell               2025 HLR    NC   dupe  Republican     Grant Campbell
514  42008300      420083      Grant     Campbell      2025 HLR bootcamp    NC   dupe  Republican     Grant Campbell
__________


220089
420049
420044
450077
340060
450048
420026
340052
340152
420042
421042
['Rachel Hunt', 'Woodson Bradley']
      full_pk primary_key first_name last_name             events state source     party        full_name
4         NaN      421042     Rachel      Hunt        NC HLR 2024    NC   dupe  Democrat      Rachel Hunt
23        NaN      421042     Rachel      Hunt          ECLS 2024    NC   dupe  Democrat      Rachel Hunt
476  42104200      421042    Woodson   Bradley           2025 HLR    NC   dupe  Democrat  Woodson Bradley
512  42104200      421042    Woodson   Bradley  2025 HLR bootcamp    NC   dupe  Democrat  Woodson Bradley
__________
      full_pk primary_key first_name last_name             events state source     party        full_name
4         NaN      421042     Rachel      Hunt        NC HLR 2024    NC   dupe  Democrat      Rachel Hunt
23        NaN      421042     Rachel      Hunt          ECLS 2024    NC   dupe  Democrat      Rachel Hunt
476  42104200      421042    Woodson   Bradley           2025 HLR    NC   dupe  Democrat  Woodson Bradley
512  42104200      421042    Woodson   Bradley  2025 HLR bootcamp    NC   dupe  Democrat  Woodson Bradley
__________


450053
220054
450057
431004
450042
['Cynthia Roe', 'Cindy Roe']
      full_pk primary_key first_name last_name       events state  source       party    full_name
276  45004200      450042      Cindy       Roe  OK SLR 2024    OK  normal  Republican    Cindy Roe
449  45004200      450042    Cynthia       Roe  OK SLR 2023    OK    dupe  Republican  Cynthia Roe
421005
160019
220084
340119
421025
221030
421029
440056
221056
450089
571001
['Laura Wakim Chapman', 'Laura Chapman']
      full_pk primary_key   first_name last_name       events state source       party            full_name
392  57100101      571001  Laura Wakim   Chapman  WV SLR 2024    WV   dupe  Republican  Laura Wakim Chapman
405  57100101      571001        Laura   Chapman    ECLS 2024    WV   dupe  Republican        Laura Chapman
441028
420093
440087
430045
570019
220061
570071
430035
['Karen Karls', 'Bob Martinson']
      full_pk primary_key first_name  last_name       events state source       party      full_name
346  43003501      430035      Karen      Karls  ND SLR 2024    ND   dupe  Republican    Karen Karls
348  43003502      430035        Bob  Martinson  ND SLR 2024    ND   dupe  Republican  Bob Martinson
new_ls: ['43003501', '43003502']
340047
421031
450096
340062
440088
421028
450076
220056
340034
430047
340100
570015
421020
421017
451001
421013
220032
401005
450060
220090
220108
450072
220079
430026
430013
['Austen Schauer', 'Jim Jonas']
      full_pk primary_key first_name last_name       events state source       party       full_name
345  43001301      430013        Jim     Jonas  ND SLR 2024    ND   dupe  Republican       Jim Jonas
456  43001302      430013     Austen   Schauer  ND SLR 2023    ND   dupe  Republican  Austen Schauer
new_ls: ['43001301', '43001302']
340084
221031
431020
450071
421003
450034
430030
420063
340127
421004
420095
431015
340102
440014
220062
420071
421030
450079
431010
440081
161032
450040
250031
450070
430033
['Anna Novak', 'Bill Tveit']
      full_pk primary_key first_name last_name       events state source       party   full_name
435  43003301      430033       Anna     Novak  ND SLR 2023    ND   dupe  Republican  Anna Novak
466  43003302      430033       Bill     Tveit  ND SLR 2023    ND   dupe  Republican  Bill Tveit
new_ls: ['43003301', '43003302']
450025
570078
160098
440053
['Joseph Miller', 'Joe Miller']
      full_pk primary_key first_name last_name       events state  source     party      full_name
259  44005300      440053        Joe    Miller  OH SLR 2023    OH  normal  Democrat     Joe Miller
538  44005300      440053     Joseph    Miller  OH SLR 2024    OH    dupe  Democrat  Joseph Miller
340031
420008
451043
430019
420058
['Amos Quick', 'Amos Quick Iii']
      full_pk primary_key first_name  last_name       events state source     party       full_name
5         NaN      420058       Amos  Quick Iii  NC HLR 2024    NC   dupe  Democrat  Amos Quick Iii
502  42005800      420058       Amos      Quick     2025 HLR    NC   dupe  Democrat      Amos Quick
__________
      full_pk primary_key first_name  last_name       events state source     party       full_name
5         NaN      420058       Amos  Quick Iii  NC HLR 2024    NC   dupe  Democrat  Amos Quick Iii
502  42005800      420058       Amos      Quick     2025 HLR    NC   dupe  Democrat      Amos Quick
__________


570059
420116
220074
450049
450065
570063
341017
160093
420097
221052
430036
340045
431043
440004
['Mary Lightbody', 'Beryl Brown Piccolantonio']
   full_pk primary_key first_name            last_name       events state source     party                  full_name
10     NaN      440004       Mary            Lightbody  OH SLR 2023    OH   dupe  Democrat             Mary Lightbody
29     NaN      440004      Beryl  Brown Piccolantonio  OH SLR 2024    OH   dupe  Democrat  Beryl Brown Piccolantonio
__________
   full_pk primary_key first_name            last_name       events state source     party                  full_name
10     NaN      440004       Mary            Lightbody  OH SLR 2023    OH   dupe  Democrat             Mary Lightbody
29     NaN      440004      Beryl  Brown Piccolantonio  OH SLR 2024    OH   dupe  Democrat  Beryl Brown Piccolantonio
__________


571017
430038
420082
420035
161026
420064
221059
220105
340015
420100
221003
450069
431006
570054
340049
420108
430042
431042
340155
431044
420024
420088
431041
440067
441021
420009
430008
['Suann Olson', 'Mike Berg']
      full_pk primary_key first_name last_name       events state source       party    full_name
337  43000801      430008       Mike      Berg  ND SLR 2024    ND   dupe  Republican    Mike Berg
440  43000802      430008      Suann     Olson  ND SLR 2023    ND   dupe  Republican  Suann Olson
new_ls: ['43000802', '43000801']
420027
440026
420050
160020
421015
451042
571012
430017
420115
450087
431046
430004
450054
230048
440095
251006
340072
450041
431012
450074
430014
451040
420031
220111
220001
440063
420068
440052
450027
441009
['Catherine Ingram', 'Catherine D. Ingram']
      full_pk primary_key    first_name last_name       events state  source     party            full_name
255  44100900      441009     Catherine    Ingram  OH SLR 2023    OH  normal  Democrat     Catherine Ingram
424  44100900      441009     Catherine    Ingram    ECLS 2024    OH    dupe  Democrat     Catherine Ingram
535  44100900      441009  Catherine D.    Ingram  OH SLR 2024    OH    dupe  Democrat  Catherine D. Ingram
340006
550074
421012
340124
570076
450100
431024
431031
430012
['Mitch Ostlie', 'Bernie Satrom']
      full_pk primary_key first_name last_name       events state source       party      full_name
350  43001201      430012      Mitch    Ostlie  ND SLR 2024    ND   dupe  Republican   Mitch Ostlie
354  43001202      430012     Bernie    Satrom  ND SLR 2024    ND   dupe  Republican  Bernie Satrom
new_ls: ['43001202', '43001201']
431011
340136
451019
340113
431021
420021
251021
451028
430022
451016
450080
451005
450094
440028
220019
441025
450098
420029
420032
['Frank Sossamon', 'Bryan Cohn']
      full_pk primary_key first_name last_name                 events state source       party       full_name
3         NaN      420032      Frank  Sossamon  NC EC Roundtable 2024    NC   dupe  Republican  Frank Sossamon
6         NaN      420032      Frank  Sossamon            NC HLR 2024    NC   dupe  Republican  Frank Sossamon
24        NaN      420032      Frank  Sossamon        ElevateNC C4 M3    NC   dupe  Republican  Frank Sossamon
483  42003200      420032      Bryan      Cohn               2025 HLR    NC   dupe    Democrat      Bryan Cohn
__________
      full_pk primary_key first_name last_name                 events state source       party       full_name
3         NaN      420032      Frank  Sossamon  NC EC Roundtable 2024    NC   dupe  Republican  Frank Sossamon
6         NaN      420032      Frank  Sossamon            NC HLR 2024    NC   dupe  Republican  Frank Sossamon
24        NaN      420032      Frank  Sossamon        ElevateNC C4 M3    NC   dupe  Republican  Frank Sossamon
483  42003200      420032      Bryan      Cohn               2025 HLR    NC   dupe    Democrat      Bryan Cohn
__________


551027
441003
420039
430005
221004
340143
420073
420048
570092
340071
430032
['Pat Heinert', 'Lisa Meier']
      full_pk primary_key first_name last_name       events state source       party    full_name
344  43003201      430032        Pat   Heinert  ND SLR 2024    ND   dupe  Republican  Pat Heinert
421  43003201      430032        Pat   Heinert  ND SLR 2023    ND   dupe  Republican  Pat Heinert
430  43003202      430032       Lisa     Meier  ND SLR 2023    ND   dupe  Republican   Lisa Meier
new_ls: ['43003201', '43003202']
420041
340058
571016
421041
220071
440094
450066
571014
571013
440018
421007
451018
451035
341014
420038
340070
340109
340134
430037
['Vicky Steiner', 'Mike Lefor']
      full_pk primary_key first_name last_name       events state source       party      full_name
357  43003702      430037      Vicky   Steiner  ND SLR 2024    ND   dupe  Republican  Vicky Steiner
361  43003701      430037       Mike     Lefor  ND SLR 2024    ND   dupe  Republican     Mike Lefor
427  43003701      430037       Mike     Lefor  ND SLR 2023    ND   dupe  Republican     Mike Lefor
462  43003702      430037      Vicky   Steiner  ND SLR 2023    ND   dupe  Republican  Vicky Steiner
new_ls: ['43003701', '43003702']
570081
420036
570048
220066
340140
340122
161014
420109
340105
450036
440022
431035
421022
440005
430006
160145
570051
430025
['Cynthia Schreiber-Beck', 'Cindy Schreiber-Beck', 'Alisa Mitskog']
      full_pk primary_key first_name       last_name                      events state source       party               full_name
356  43002502      430025    Cynthia  Schreiber-Beck                 ND SLR 2024    ND   dupe  Republican  Cynthia Schreiber-Beck
431  43002501      430025      Alisa         Mitskog                   ECLS 2024    ND   dupe    Democrat           Alisa Mitskog
458  43002502      430025      Cindy  Schreiber-Beck  ND Literacy taskforce 2024    ND   dupe  Republican    Cindy Schreiber-Beck
459  43002502      430025      Cindy  Schreiber-Beck                 ND SLR 2023    ND   dupe  Republican    Cindy Schreiber-Beck
new_ls: ['43002501', '43002502']
430001
['David Richter', 'Patrick Hatlestad']
      full_pk primary_key first_name  last_name       events state source       party          full_name
351  43000102      430001      David    Richter  ND SLR 2024    ND   dupe  Republican      David Richter
418  43000101      430001    Patrick  Hatlestad  ND SLR 2023    ND   dupe  Republican  Patrick Hatlestad
448  43000102      430001      David    Richter  ND SLR 2023    ND   dupe  Republican      David Richter
new_ls: ['43000101', '43000102']
570089
431023
431030
420033
431027
431036
['Desiree Van Oosting', 'Jay Elkin']
      full_pk primary_key first_name    last_name       events state  source       party            full_name
20        NaN      431036        Jay        Elkin  ND SLR 2023    ND    dupe  Republican            Jay Elkin
247  43103600      431036    Desiree  Van Oosting  ND SLR 2024    ND  normal  Republican  Desiree Van Oosting
__________
      full_pk primary_key first_name    last_name       events state  source       party            full_name
20        NaN      431036        Jay        Elkin  ND SLR 2023    ND    dupe  Republican            Jay Elkin
247  43103600      431036    Desiree  Van Oosting  ND SLR 2024    ND  normal  Republican  Desiree Van Oosting
__________


440074
450093
450092
430041
340146
430020
220016
220051
430009
420023
431003
420101
421023
340111
340086
431016
401037
440036
420114
420043
571002
440021
451048
340096
441016
421011
340106
440086
220085
450045
341009
340098
420112
420107
570036
440049
340019
430021

,full_pk,primary_key,first_name,last_name,events,state,source,party,full_name
0,NaN,420057,Ashton,Clemmons,HSPF C4 M1,NC,dupe,Democrat,Ashton Clemmons
1,NaN,420083,Kevin,Crutchfield,NC EC Roundtable 2024,NC,dupe,Republican,Kevin Crutchfield
2,NaN,420057,Ashton,Clemmons,NC EC Roundtable 2024,NC,dupe,Democrat,Ashton Clemmons
3,NaN,420032,Frank,Sossamon,NC EC Roundtable 2024,NC,dupe,Republican,Frank Sossamon
4,NaN,421042,Rachel,Hunt,NC HLR 2024,NC,dupe,Democrat,Rachel Hunt
...,...,...,...,...,...,...,...,...,...
547,57101401,571014,Jay,Taylor,WV SLR 2024,WV,dupe,Republican,Jay Taylor
548,43000902,430009,Jayme,Davis,ND SLR 2023,ND,dupe,Democrat,Jayme Davis
549,43000501,430005,Jay,Fisher,ND SLR 2023,ND,dupe,Republican,Jay Fisher
550,43002602,430026,Jeremy,Olson,ND SLR 2023,ND,dupe,Republican,Jeremy Olson
551,43002201,430022,Brandy,Pyle,ND SLR 2023,ND,dupe,Republican,Brandy Pyle

In [43]:
#testing print statements
# for i,j in enumerate(event_summary_df['full_pk']):
#     pk = event_summary_df.loc[i,['primary_key']]
#     # print(pk[0])
#     # continue
#     if str(j) == 'nan':
#         continue
#     elif str(j)[:-2] == str(pk[0]):
#         continue
#     else:
#         print('________')
#         print(str(j)[:-2])
#         print(str(pk[0]))
#         print('________')

In [44]:
#print out for event_summary columns
print(event_summary_df.columns)
event_summary_df['full_pk'] = event_summary_df['full_pk'].astype('Int64')

Index(['full_pk', 'primary_key', 'first_name', 'last_name', 'events', 'state',
       'source', 'party', 'full_name'],
      dtype='object')

In [45]:
#export event summary
os.chdir(r'C:\Users\clutz\THE HUNT INSTITUTE\The Hunt Institute Team Site - Documents\Development (formerly Grants Management)\!Administrative\Christian\THII\THII_build files\2025\Events')
es_file_name = fr'event_summary_{str(date.today()).replace('-','_')}.xlsx'
es_file_name_csv = fr'event_summary_{str(date.today()).replace('-','_')}.csv'
event_summary_df.to_excel(es_file_name,sheet_name='event_summary')
event_summary_df.to_csv(es_file_name_csv, index=False)
# bills_and_legislators.to_excel(, sheet_name=f'{file_name_bl.replace(".xlsx", "")}', index=False)

## Back to main quest

In [46]:
# set up lookup for primary keys
#grouping data together and getting list of events per legislator
grouped_df = duplicates.groupby(['primary_key','last_name']).agg({
    'state': 'first',
    'first_name': 'first',
    'event name': lambda x: '|'.join(
        list(set(f"{sc} ({ac})" if not pd.isna(ac) else f"{sc}"
        for sc, ac in zip(duplicates.loc[x.index, 'event name'], duplicates.loc[x.index, 'role']))))

}).reset_index()
# grouped_df.reset_index()
grouped_df.rename(columns={'event name': 'events'}, inplace=True)
# state_coding
# grouped_df
# print(cleaned_df.columns)

In [47]:
#pull event data back together
merged_dfs = [grouped_df, non_dupe_df]
leg_events_df = pd.concat(merged_dfs)
leg_events_df = leg_events_df.reset_index(drop=True)
# leg_events_df

In [48]:
# Handle single seat legislature
'''
Description:
- takes in legislators found in events
- handles unique values and adds "00" for the seat
'''

#find none dupes and add seat
leg_events_df_nodupes = leg_events_df[~leg_events_df.duplicated(subset='primary_key', keep = False)]
leg_events_df_nodupes['seat'] = '00'
leg_events_df_nodupes_dict = dict(zip(leg_events_df_nodupes['primary_key'], leg_events_df_nodupes['last_name']))

In [49]:
# Handle multi seat legislatures
#find dupes
leg_events_df_dupes = leg_events_df[leg_events_df.duplicated(subset='primary_key', keep = False)]
leg_events_df_dupes.reset_index(inplace = True, drop = True)

#create seat for dupes
leg_events_df_dupes['seat'] = np.nan
for i,j in enumerate(leg_events_df_dupes['primary_key']):
    #ensure j is an integer
    j = int(j)
    
    #get name we are looking for
    name_to_check = leg_events_df_dupes.loc[i,'last_name']
    trunc_name = str(name_to_check)[:3]
    # print(f"checking for {trunc_name}")
    
    #look for the key, get results, and split up the names into a list
    results = loop_dict.get(j)
    names = results.split('|')
    
    #get length of names
    n = len(names)-1
    
    #go through and check if the name matches either of the one in the list and return the seat
    for ik,name in enumerate(names):
        # print(f"going through {ik}")
        # print(type(name))
        # print(type(trunc_name))
        if re.search(f'^{trunc_name.strip()}', str(name)):
            # print('found it')
            seat = ik + 1
            leg_events_df_dupes.loc[i,'seat'] = f'0{seat}'
            break
        #stops if we are on the last iteration and still no seat
        elif ik == n:

            print(leg_events_df_dupes.loc[i,['state']])
            print(leg_events_df_dupes.loc[i,['primary_key']])
            temp_pk = leg_events_df_dupes.loc[i,['primary_key']]
            try:
                if re.findall(r'(?<=^\d\d)\d', str(temp_pk))[0] == 0:
                    chamber = "lower"
            except:
                print('idk')
                print('_____________')
                print(str(temp_pk))
                test = re.findall(r'(?<=^\d\d)\d', str(temp_pk))
                print(test)
                print('_____________')
            else:
                chamber = "higher"
            if chamber != "lower":
                continue



            new_pk = re.findall(r'^\d{2}', str(temp_pk))[0]+ "1" + re.findall(r'(?<=^\d\d\d)\d+', str(temp_pk))[0]
            print(leg_events_df_nodupes_dict.get(new_pk))
            
         
            print(f"couldn't find one for '{trunc_name}' aka '{name_to_check}' in {names} with length for it being {len(trunc_name)}")

# leg_lookup_ref

state    NC
Name: 1, dtype: object
primary_key    420032
Name: 1, dtype: object
idk
_____________
primary_key    420032
Name: 1, dtype: object
[]
_____________
state    NC
Name: 3, dtype: object
primary_key    420057
Name: 3, dtype: object
idk
_____________
primary_key    420057
Name: 3, dtype: object
[]
_____________
state    NC
Name: 7, dtype: object
primary_key    420083
Name: 7, dtype: object
idk
_____________
primary_key    420083
Name: 7, dtype: object
[]
_____________
state    NC
Name: 9, dtype: object
primary_key    421042
Name: 9, dtype: object
idk
_____________
primary_key    421042
Name: 9, dtype: object
[]
_____________
state    ND
Name: 13, dtype: object
primary_key    430006
Name: 13, dtype: object
idk
_____________
primary_key    430006
Name: 13, dtype: object
[]
_____________
state    ND
Name: 32, dtype: object
primary_key    430042
Name: 32, dtype: object
idk
_____________
primary_key    430042
Name: 32, dtype: object
[]
_____________
state    ND
Name: 34, dtype: object
primary_key    431036
Name: 34, dtype: object
idk
_____________
primary_key    431036
Name: 34, dtype: object
[]
_____________
state    OH
Name: 36, dtype: object
primary_key    440004
Name: 36, dtype: object
idk
_____________
primary_key    440004
Name: 36, dtype: object
[]
_____________
state    OH
Name: 37, dtype: object
primary_key    440004
Name: 37, dtype: object
idk
_____________
primary_key    440004
Name: 37, dtype: object
[]
_____________

In [50]:
#pull all event data back together
events_dfs = [leg_events_df_dupes, leg_events_df_nodupes]
events_df = pd.concat(events_dfs)
events_df.dropna(subset=['seat'], inplace=True)
events_df.reset_index(inplace=True, drop=True)
# events_df

# Scoring

Cell below calculates the activities score from the attendance data

In [51]:
#Calculating Score for loop


# print(events_df.columns)
#For loop description: goes through events column and gathers information for activities scoring
events_df.loc[:, 'activities_score'] = 0
for i,j in enumerate(events_df['events']):
    
    # split up events
    event_split = str(j).split('|')
    events = ";".join(event_split)
    # if len(event_split) < 2:
    #     continue


    #compile name for print statements

    # fname = grouped_df.at[i,'first_name']
    lname = events_df.at[i,'last_name']

    # names = [fname, lname]
    # name = " ".join(names)
    
    
    # display_markdown(f' ## {name}', raw=True)
    # print(bordered(events))

    #For loop description: go through each event and score 
    scores = []
    for event in event_split:

        #intializing boolean values for scoring    
        score = 0
        speaker = False
        is_hkf = False
        dev_program = False
        in_state = False
        out_state = False
        is_slr = False
        dinner_or_lunch = False
        # non_slr = False
        speaker = False
        # #print('#################')
        # #print(*grouped_df.loc[i,['helper','first_name', 'last_name', 'events']], sep=" \ ")
        
        
        # #print(bordered(event))

        #Look through for roles in events
        if re.search(r'\(.+\)', str(event)):
            match = re.findall(r'\(.+\)', str(event))
            match_refine = [x for x in match if len(x) != 0]
            #print("match refine results", match_refine)
            if len(match_refine) != 0:
                for m in match_refine:
                    if re.search('speaker|presenter', str(m).lower()):
                        # print('found a speaker')
                        speaker = True
                    elif 'HKF' in str(m):
                        #print('THERE IS HKF IN THE RESULTS')
                        is_hkf = True
                
        
        #is it just a short engagment such as a dinner or lunch?
        if re.search(r'[Dd]inner|[Ll]unch', str(event)):
            dinner_or_lunch = True

        #get state
        state = events_df.loc[i,'state']
        
        #looking for whether events where in state or out of state
        if 'ECLS' not in str(event) or "HKF" not in str(event):
            #print("no ecls or hKF")
            try:
                event_state = re.findall(state_abv_pat, str(event))[0].strip()
                if event_state == state:
                #print("states match")
                    in_state = True
                else:
                    out_state = True
            except:
                out_state = True
                # print(str(event))
                # print('no state match')
        else:
            out_state = True
            
            
        #lower dev program?
        if 'HSPF' in str(event) or 'Elevate' in str(event):
            dev_program = True

        #State Legislator event?
        if re.search(r'SLR|HLR',str(event)):
            is_slr = True


        # if re.search(r'\s[Mm]\d', str(event)):
        #     non_slr = True
        
        variables = [
        speaker,
        is_hkf,
        dev_program,
        in_state,
        out_state,
        is_slr,
        dinner_or_lunch
        ]

        #Trouble shooting print statement to make sure logic is working
        # #print('quick look at logic')
        # for var_name, var_value in zip(['speaker', 'is_hfk', 'dev_program', 'in_state', 'out_state', 'is_slr', 'dinner_or_lunch', 'non_slr', 'out_of_state'], variables):
        #     #print(bordered(f"{var_name}: {var_value}"))
        

        #Event data scoring 
        if is_slr == True:
            score += 15
            # print(f'adding 15 for {name} due to being an slr')
        # else:
        #     score += 10
        #     #print(f'adding 10 for {name}')

        elif dev_program == True:
            score += 15
            # print(f'adding 15 for {name} due to being in an dev program')
        elif dinner_or_lunch == True:
            score += 5
            # print(f'adding 5 for {name} due to being a lunch or dinner')
        else:
            score += 10
            # print("adding 10 for full day event with no other attributes")

        
        #check for speaker
        if speaker == True:
            if in_state == True:
                score += 0
                #if in state no additional points
                # print(f'adding 0 for {name} for being in state speaker')
            elif out_state == True:
                #if out of state add 5 more points for speakers
                # print(f'adding 5 for {name} due ot being a speaker at an out of state event')
                score += 5
        
        # check for hkf
        if is_hkf == True:
            score += 20
            # print(f'adding 20 for {lname} due to being hkf')


        
        # print(bordered(score))
        scores.append(score)

    # display_markdown(f' ### {name}', raw=True)
    # print(scores)
    total = sum(scores)
    # print("total: ",total)
    
    
    events_df.loc[i, 'activities_score'] = total

In [52]:
#df cleanup
#export activity scores df
activity_scores = events_df.loc[:,['primary_key','seat','first_name','last_name','activities_score', 'events']]

#make full_pk and convert to int
activity_scores['full_pk'] = activity_scores['primary_key'].astype(str) + activity_scores['seat'].astype(str)
activity_scores['full_pk'] = activity_scores['full_pk'].astype(int)

#put full_pk to front
activity_scores = activity_scores.drop('seat', axis=1)
first_column = activity_scores.pop('full_pk')
activity_scores.insert(0, 'full_pk', first_column)


# print(*activity_scores.columns, sep = ' , ')
activity_scores

,full_pk,primary_key,first_name,last_name,activities_score,events
0,42003201,420032,Bryan,Cohn,15,2025 HLR (Legislator)
1,42005701,420057,Tracy,Clark,15,2025 HLR (Legislator)
2,42005801,420058,Amos,Quick,15,2025 HLR (Legislator)
3,42005801,420058,Amos,Quick Iii,15,NC HLR 2024 (Legislator)
4,42008301,420083,Grant,Campbell,30,2025 HLR (Legislator)|2025 HLR bootcamp (Legis...
...,...,...,...,...,...,...
315,44006700,440067,Melanie,Miller,15,OH SLR 2024
316,44102100,441021,Kent,Smith,15,OH SLR 2024
317,44004900,440049,Jim,Thomas,15,OH SLR 2024
318,44003600,440036,Andrea,White,15,OH SLR 2024
319,44007400,440074,Bernie,Willis,15,OH SLR 2024

# Export

In [53]:
#export activity scores
year = 2025
os.chdir(fr'C:\Users\clutz\THE HUNT INSTITUTE\The Hunt Institute Team Site - Documents\Development (formerly Grants Management)\!Administrative\Christian\THII\THII_build files\2025\bridges\compiling_calcs\{year}')
activity_scores.to_csv(f'activity_scores{str(date.today()).replace('-','_')}.csv', index = False)



# activity_scores